<?php $_product = $this->getProduct() ?>



<?php if($_product->isSaleable()): ?>

<?php 
//check for salt sisters sku and show a download link
$salt_sisters = array("ss1", "ss2", "ss3", "ss4", "ss5", "ss6", "ss7", "ss8", "ss9", "ss10", "ss11", "ss12", "ss13", "ss14", "ss15", "ss16", "ss17", "ss18", "ss19", "ss20", "ss21", "ss22", "ss23", "ss24", "ss25", "ss26", "ss27", "ss28", "ss29", "ss30", "ss31", "ss32", "ss33", "ss34", "ss35", "ss36", "ss37", "ss38", "ss39", "ss40", "ss41", "ss42", "ss43", "ss44", "ss45", "ss46", "ss47", "ss48", "ss49", "ss50", "ss51", "ss52", "ss53", "ss54", "ss55", "ss56", "ss57", "ss58", "ss59", "ss60", "ss61", "ss62", "ss63", "ss64", "ss65", "ss66", "ss67", "ss68", "ss69", "ss70", "ss71", "ss72", "ss73", "ss74", "ss75", "ss76", "ss77", "ss78"); ?>


<?php if(in_array($_product->sku, $salt_sisters)) { ?>

<div class="cart">
	<div>
		<a href="http://www.cibariastoresupply.com/shop/order-form/salt-sisters-order-form.pdf" download="salt-sisters-order-form.pdf" style="
	background-color: #E6348A;
    border: none;
    padding: 6px 20px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    line-height: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;">Download Order Form</a>
	</div>
</div>

	<?php } else { ?>

<div class="cart">

        <?php if(!$_product->isGrouped()): ?>
        <div>
        Qty: <input name="qty" type="text" size="2" class="input-text qty" id="qty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" />

        <?php endif; ?>
        <input type="button" id="button-cart" value="Add To Cart" class="button-product-page" onclick="productAddToCartForm.submit()" />
    </div>
</div>
<?php } ?>

<?php endif; ?>

