<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>
<?php if($_additional = $this->getAdditionalData()): ?>

    <div id="tab-attribute" class="tab-content">

    <?php foreach ($_additional as $_data): ?>
        <table class="attribute">
        <thead>
        <tr>
        <td><?php echo $this->htmlEscape($this->__($_data['label'])) ?></td>
        </tr>
        </thead>
        <tr>
        <td><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
        </tr>
        </table>
    <?php endforeach; ?>

<?php 
    //Don't Show Specsheets for Sleeves
    if($_helper->productAttribute($_product, $_data['value'], $_data['code']) != "OOS207") : ?>
        <?php if($_helper->productAttribute($_product, $_data['value'], $_data['code']) != "OOS093") : ?>
         <?php if($_helper->productAttribute($_product, $_data['value'], $_data['code']) != "OOS094") : ?>
        <table class="attribute">
            <thead>
            <tr>
                <td>Specsheets</td>
            </tr>
            </thead>
            <tr>
                <td><a href="<?php echo Mage::getBaseUrl() . "specsheets" ?>" title="Specsheets">Specsheets</a></td>
            </tr>
            </table>
        <?php endif; ?>
        <?php endif; ?>
        <?php endif; ?>
    </div>

    <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>

<?php endif;?>
