<?php
$loggedIn = $this->helper("customer")->isLoggedIn();
?>
<div id="header" class="s_row clearfix">
    <div class="s_wrap">
        <div class="s_col_12">
            <a id="site_logo" href="<?php echo Mage::getBaseUrl(); ?>" title="Cibaria Soap Supply">
                <img src="<?php echo Mage::getBaseUrl() . "images/logo.png" ?>" alt="Cibaria Soap Supply"/>
            </a>
            <div id="system_navigation">
                <?php echo $this->getChildHtml('top_cart'); ?>
                <?php echo $this->getChildHtml('topSearch') ?>
            </div>
        </div>
    </div>
<div id="main_navigation" class="s_row">
    <div class="s_wrap">
        <div class="s_col_12">
            <div id="categories" class="s_nav">
                <ul class="clearfix">
                    <li class="s_category_menu">
                        <a href="<?php echo Mage::getBaseUrl(); ?>" style="color:#EACA87;" title="Home">HOME</a>
                    </li>
                    <li id="menu_20" class="s_category_menu">
                        <a href="<?php echo Mage::getBaseUrl() . "oils.html"; ?>" title="Soap Making Oils">OILS</a>
                        <div class="s_submenu">
                            <div class="s_category_group s_menu_group">
                                <h3>Soap Making Oils</h3>
                                <ul class="s_list_1 clearfix">
                                    <li id="menu_27">
                                        <a href="<?php echo Mage::getBaseUrl() . "oils/olive-oils.html" ?>" title="Soap Making Olive Oils">Olive Oils</a></li>
                                    <li id="menu_27">
                                        <a href="<?php echo Mage::getBaseUrl() . "oils/almond-oil.html" ?>" title="Almond Oils">Almond Oil</a></li>
                                    <li id="menu_28"> <a href="<?php echo Mage::getBaseUrl() . "oils/apricot-kernel-oil.html" ?>" title="Apricot Kernel Oil">Apricot Kernel Oil</a></li>
                                    <li id="menu_29"> <a href="<?php echo Mage::getBaseUrl() . "oils/avocado-oil.html" ?>" title="Avocado Oils">Avocado Oil</a></li>
                                    <li id="menu_31"> <a href="<?php echo Mage::getBaseUrl() . "oils/canola-oil.html" ?>" title="Canola Oil">Canola Oil</a></li>
                                    <li id="menu_32"> <a href="<?php echo Mage::getBaseUrl() . "oils/castor-oil.html" ?>" title="Castor Oil">Castor Oil</a></li>
                                    <li id="menu_33"> <a href="<?php echo Mage::getBaseUrl() . "oils/coconut-oil.html" ?>" title="Coconut Oil">Coconut Oil</a></li>
                                    <li id="menu_34"> <a href="<?php echo Mage::getBaseUrl() . "oils/cottonseed-oil.html" ?>" title="Cottonseed Oil">Cottonseed Oil</a></li>
                                    <li id="menu_35"> <a href="<?php echo Mage::getBaseUrl() . "oils/extra-virgin-olive-oil.html" ?>" title="Extra Virgin Olive Oil">Extra Virgin Olive Oil</a></li>
                                    <li id="menu_36"> <a href="<?php echo Mage::getBaseUrl() . "oils/flaxseed-oil.html" ?>" title="Flaxseed Oil">Flaxseed Oil</a></li>
                                    <li id="menu_37"> <a href="<?php echo Mage::getBaseUrl() . "oils/grapeseed-oils.html" ?>" title="Grapeseed Oil">Grapeseed Oil</a></li>
                                    <li id="menu_38"> <a href="<?php echo Mage::getBaseUrl() . "oils/palm-oil.html" ?>" title="Palm Oil">Palm Oil</a></li>
                                    <li id="menu_38"> <a href="<?php echo Mage::getBaseUrl() . "oils/palm-kernel-oils.html" ?>" title="Palm Kernel Oil">Palm Kernel Oil</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="menu_18" class="s_category_menu">
                        <a href="<?php echo Mage::getBaseUrl() . "butters.html"; ?>" title="Butters">BUTTERS</a>
                        <div class="s_submenu">
                            <div class="s_category_group s_menu_group">
                                <h3>Soap Making Butters</h3>
                                <ul class="s_list_1 clearfix">
                                    <li id="menu_46"><a href="<?php echo Mage::getBaseUrl() . "butters.html"; ?>" title="Butters">Butters</a></li>
                                    <li id="menu_47"><a href="<?php echo Mage::getBaseUrl() . "butters/cocoa-butter.html"; ?>" title="Cocoa Butter">Cocoa Butter</a></li>
                                    <li id="menu_47"><a href="<?php echo Mage::getBaseUrl() . "butters/mango-butter.html"; ?>" title="Mango Butter">Mango Butter</a></li>
                                    <li id="menu_48"><a href="<?php echo Mage::getBaseUrl() . "butters/shea-butters.html"; ?>" title="Shea Butter">Shea Butter</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="menu_24" class="s_category_menu">
                        <a href="<?php echo Mage::getBaseUrl() . "organic-oils.html"; ?>" title="Organic Oils">ORGANIC OILS</a>
                        <div class="s_submenu">
                            <div class="s_brands_group s_menu_group">
                                <h3>Organic Oils</h3>
                                <ul class="s_brands_list s_list_1 clearfix">
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils.html"; ?>" title="Organic Oils">Organic Oils</a></li>
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils/organic-jojoba-oil.html"; ?>" title="Organic Jojoba Oils">Organic Jojoba Oils</a></li>
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils/organic-canola-oils.html"; ?>" title="Organic Canola Oils">Organic Canola Oils</a></li>
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils/organic-extra-virgin-olive-oil.html"; ?>" title="Organic Extra Virgin Olive Oils">Organic Extra Virgin Olive Oils</a></li>
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils/organic-palm-kernel-oil.html"; ?>" title="Organic Palm Kernel Oils">Organic Palm Kernel Oils</a></li>
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils/organic-soybean-oil.html"; ?>" title="Organic Soybean Oils">Organic Soybean Oils</a></li>
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils/organic-sunflower-oil.html"; ?>" title="Organic Sunflower Oils">Organic Sunflower Oils</a></li>
                                    <li><a href="<?php echo Mage::getBaseUrl() . "organic-oils/organic-virgin-coconut-oil.html"; ?>" title="Organic Virgin Coconut Oils">Organic Virgin Coconut Oils</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="menu_33" class="s_category_menu">
                        <a href="<?php echo Mage::getBaseUrl() . "aboutus"; ?>" title="About">ABOUT</a>
                    </li>
                    <li id="menu_34" class="s_category_menu">
                        <a href="<?php echo Mage::getBaseUrl() . "contacts"; ?>" title="Contact Us">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
