
<?php $_productCollection=$this->getLoadedProductCollection() ?>
<?php if(!$_productCollection->count()): ?>
<div class="note-msg">
    <?php echo $this->__('There are no products matching the selection.') ?>
</div>
<?php else: ?>
<?php echo $this->getToolbarHtml() ?>
    <div class="clear"></div>
    <div class="s_listing s_grid_view size_1 clearfix">
<?php $_iterator = 0; ?>
<?php foreach ($_productCollection as $_product): ?>
   <?php if( ++$_iterator == sizeof($_productCollection) ): ?><?php endif; ?>
    <div class="s_item product_<?php echo $_iterator++; ?>">
        <?php // Product Image ?>
            <a class="s_thumb" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getSmallImageLabel()) ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135, 135); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            </a>
        <?php //name ?>
        <div class="s_item_info">
            <h3><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName())?></a></h3>
        <?php //price ?>
        <div class="s_price_holder s_size_3 s_label">
            <p class="s_price"><span class="s_currency s_before"></span><?php echo $this->getPriceHtml($_product, true) ?></p>
        </div>
        <?php // Product description ?>
            <p class="s_description"> <?php echo nl2br($_product->getShortDescription()) ?></p>
            <?php if($_product->isSaleable()): ?>
            <div class="s_actions">
            <a class="s_button_add_to_cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span class="s_icon_16"><span class="s_icon"></span>Add To Cart</span></a>
                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                    <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="s_button_wishlist s_icon_10" rel="nofollow">Add To Wishlist</a>
                <?php endif; ?>
</div>
            <?php else: ?>
            Out Of Stock
            <?php endif; ?>
            </div>
</div>
        <?php endforeach; ?>
        <span class="clear"></span>
</div>
    <div class="clear"></div>
    <?php echo $this->getToolbarHtml() ?>
    <br />
<?php endif; ?>