<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<span class="clear"></span>


<div id="messages_product_view" ><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>


<div id="product">

<?php //message ?>


<?php //form ?>
    <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

        <?php //hidden fields ?>
        <fieldset class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </fieldset>

        <?php //name ?>
        <h1 style="color:#4cb1ca;">
            <?php echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') ?>
        </h1>
<?php //images ?>
            <?php echo $this->getChildHtml('media') ?>


        <?php //price ?>

        <div id="product_info">
            <dl class="clearfix">
                <br />
        <?php if($_product->isSaleable()): ?>
            <dt>Status:</dt>
                <dd itemprop="availability" content="in_stock">In stock.</dd>
        <?php else: ?>
            <dt>Status:</dt>
            <dd itemprop="availability" content="out_stock">Out of stock.</dd>
        <?php endif; ?>
                <dt>Price:</dt>
                <dd itemprop="availability" content="price"><?php echo $this->getPriceHtml($_product) ?></dd>
                </dl>

            <?php //other options ?>
            <div id="product_options">
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>

            <?php echo $this->getChildHtml('other');?>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif;?>
            </div>

            <div id="product_buy" class="clearfix">
            <?php //qty ?>

            <?php if($_product->isSaleable()): ?>
                <?php echo $this->getChildHtml('addtocart') ?>
                 <a id="add_to_cart" class="s_button_1 s_main_color_bgr" href="#" onclick="productAddToCartForm.submit()" rel="nofollow"><span class="s_text s_icon_24"><span class="s_icon"></span>Add to Cart</span></a>
            <?php endif; ?>
                <?php //add to cart ?>

                       
                   

<!--                    <a href="--><?php //echo $this->getUrl('wishlist/index/add');?><!--product/--><?php //echo $_product->getId();?><!--" rel="nofollow">Add to My Wishlist</a>-->

<!--                    <a href="--><?php //echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?><!--" rel="nofollow">--><?php //echo $this->__('Email This Item to a Friend') ?><!--</a>-->
                <span class="clear"></span>
                </div>

        <div class="clear"></div>

    </form>


    <script type="text/javascript">
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(){
                    if (this.validator.validate()) {
                            this.form.submit();
                    }
            }.bind(productAddToCartForm);
    </script>


        <?php //description ?>
        <?php if ($_description = $this->getChildHtml('description')):?>

    <div id="product_tabs" class="clear"></div>
    <div class="s_tabs">


            <?php //name ?>


            <div class="s_tab_box">
                <h3><?php echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') ?> Description</a></h3>
                <hr />
                <?php echo $_description ?>
                </div>
            </div>



        <?php endif;?>
    <?php //description ?>


        <?php //additional ?>
        <?php if ($_additional = $this->getChildHtml('additional')):?>
    <div class="s_tab_box">
            <?php //additional information ?>
                    <h3><?php echo $this->__('Additional Information') ?> for  <?php echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') ?></h3>
        <hr />

                <?php //additional ?>
                <?php echo $_additional ?>
</div>
        <?php endif;?>

<?php //upsell products ?>
        <?php echo $this->getChildHtml('upsell_products') ?>

</div><!--end product-->
</div>

<!--                --><?php //echo $this->getChildHtml('product_type_data') ?>

<!--            --><?php //echo $this->getChildHtml('alert_urls') ?>

<!--            --><?php //echo $this->getTierPriceHtml() ?>
