<?php $_orders = $this->getOrders(); ?>
    <div class="head">
        <h4>Recent Orders</h4>
        <br />
        <?php if( sizeof($_orders->getItems()) > 0 ): ?><a href="<?php echo $this->getUrl('sales/order/history') ?>" class="default-button">View All</a>
            <br />
        <?php endif; ?>

<?php if( sizeof($_orders->getItems()) > 0 ): ?>
    <br />
    <table cellspacing="0" class="s_table_1" id="my-orders-table">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Date</th>
                <th>Ship to</th>
                <th>Order Total</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php $_odd = ''; ?>
            <?php foreach ($_orders as $_order): ?>
                <tr class="<?php echo ($_odd = ($_odd ? 'odd' : '')) ?>">
                    <td><?php echo $_order->getRealOrderId() ?>&nbsp;</td>
                    <td><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?> </td>
                    <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '' ?>&nbsp;</td>
                    <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?>&nbsp;</td>
                    <td><em><?php echo $_order->getStatusLabel() ?></em>&nbsp;</td>
                    <td class="last a-center"><a href="<?php echo $this->getViewUrl($_order) ?>">View Order</a>
                        <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                            <span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" style="font-weight: bold; color: #FF6600;">
                                Reorder</a>
                        <?php endif ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<script type="text/javascript">decorateTable('my-orders-table')</script>
<?php else: ?>
    <p>You have placed no orders.</p>
<?php endif; ?>
</div>