<div class="product-filter">

    <?php
    //set the current url
    $url = "http://www.cibariastoresupply.com" . $_SERVER['REQUEST_URI'];

    //parse the url to grab the query part of the string
    $newurl = (parse_url($url));

    //check if $newurl has a query from the parsed url in the array
    $d2 = (isset($newurl['query']));

    //check the values
    if($d2 == true ){
        $currentCategory = "Default Category";
    } elseif($d2 == false){
        $currentCategory =  Mage::registry('current_category')->getName();
    }
    if($this->getCollection()->getSize()): ?>
    <?php if($this->getLastPageNum()>1): ?>
        <div class="product-compare">
                <?php echo "<h3 style='font-size:9px;'>" . $this->__('Viewing %s to %s of %s total ' . $currentCategory, $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) . "</h3>" ?>
            </div>
    <?php else: ?>
        <div class="product-compare"><a href="#" id="compare-total">
                <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
            </a></div>
    <?php endif; ?>
    <div class="limit">
        <b><?php echo $this->__('Show') ?></b> <select onchange="setLocation(this.value)">
            <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                    <?php echo $_limit ?>
                </option>
            <?php endforeach; ?>
        </select> <?php echo $currentCategory . ' '  . $this->__('per page') ?>
    </div>
    <?php if( $this->isExpanded() ): ?>

            <div class="sort">
                <?php echo "Sort " . $currentCategory . " by" ?> <select onchange="setLocation(this.value)">
                    <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                        <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                            <?php echo $_order ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <?php if($this->getCurrentDirection() == 'desc'): ?>
                    <a href="<?php echo $this->getOrderUrl(null, 'asc') ?>" rel="nofollow"><img src="<?php echo $this->getSkinUrl('images/sort_desc_arrow.gif') ?>" alt="<?php echo $this->__('Set Ascending Direction') ?>" class="v-middle" /></a>
                <?php else: ?>
                    <a href="<?php echo $this->getOrderUrl(null, 'desc') ?>" rel="nofollow"><img src="<?php echo $this->getSkinUrl('images/sort_asc_arrow.gif') ?>" alt="<?php echo $this->__('Set Descending Direction') ?>" class="v-middle" /></a>
                <?php endif; ?>
            </div>
</div>
            <?php endif; ?>
<div class="pagination-top">
            <?php if($this->getLastPageNum()>1): ?>
    <div class="links">
                <?php if (!$this->isFirstPage()): ?>
    <a rel="prev" href="<?php echo $this->getPreviousPageUrl() ?>" ><img src="<?php echo $this->getSkinUrl('images/pager_arrow_left.gif') ?>" alt="<?php echo $this->__('Previous') ?>" /></a></div>
                <?php endif ?>
                <?php foreach ($this->getPages() as $_page): ?>
                    <?php if ($this->isPageCurrent($_page)): ?>
                        <b><?php echo $_page ?></b>
                    <?php else: ?>
                        <a href="<?php echo $this->getPageUrl($_page) ?>" ><?php echo $_page ?></a>
                    <?php endif ?>
                <?php endforeach;; ?>
                <?php if (!$this->getLastPageNum()): ?>
                    <a rel="next" href="<?php echo $this->getNextPageUrl() ?>"><img src="<?php echo $this->getSkinUrl('images/pager_arrow_right.gif') ?>" alt="<?php echo $this->__('Next') ?>" /></a>
                <?php endif ?>
            </div>
            <?php endif; ?>
            <?php endif ?>
</div>


