<div class="register orange-fade">
    <div class="form-border">
    <h1>New Customers</h1>
    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>

        <div class="register-split">
    <button type="button" class="form-button right" onclick="window.location='<?php echo $this->getCreateAccountUrl() ?>';" type="button"><span><?php echo $this->__('Create an Account') ?></span></button>
    </div>
        </div>
</div>

<div class="login form-border orange-fade">
<h1>Log in</h1>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">


            <h4>Registered Customers</h4>
            <p>If you have an account with us, please log in.</p>

            <ul class="form-list">
                    <li>
                        <label for="email"><?php echo $this->__('Email Address') ?> <span class="required">*</span></label><br />
                        <input name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" title="<?php echo $this->__('Email Address') ?>" id="email" type="text" class="input-text required-entry" style="width:250px;" />
                    </li>
                    <li>
                        <label for="pass"><?php echo $this->__('Password') ?> <span class="required">*</span></label><br />
                        <input name="login[password]" type="password" class="input-text required-entry validate-password" id="pass" style="width:250px;" />
                    </li>
                </ul>
                <p class="required">* Required Fields</p>

    <div class="button-set">
        <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="left">Forgot Your Password?</a>
        <button class="form-button right" type="submit" name="send" id="send2"><span>Login</span></button>
    </div>

</form>
</div>




<script type="text/javascript">
    var dataForm = new VarienForm('login-form', true);
</script>