<h1>Create an Account</h1>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">

    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>
        <h4>Personal Information</h4>
        <ul>
            <li>                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->toHtml() ?>            </li>
            <li>
                <div class="input-box"><label for="email_address">
                        Email Address
                        <span class="required">*</span></label><br/>
                    <input type="text" name="email" id="email_address" value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="validate-email required-entry input-text"/>
                </div>
            </li>
            <?php //endif ?>
            <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
            <?php if ($_dob->isEnabled()): ?>
                <li><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li><?php endif ?><?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?><?php if ($_taxvat->isEnabled()): ?>
                <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
            <?php endif ?>
        </ul>

    <?php if ($this->getShowAddressFields()): ?>
        <input type="hidden" name="create_address" value="1"/>

            <h4>Address Information</h4>
            <ul>
                <li>
                    <div class="input-box"><label for="company">Company</label><br/>
                        <input type="text" name="company" id="company" value="<?php echo $this->htmlEscape($this->getFormData()->getCompany()) ?>" title="Company" class="input-text"/>
                    </div>
                    <div class="input-box"><label for="lastname">
                            Telephone <span class="required">*</span></label>
                        <br/>
                        <input type="text" name="telephone" id="telephone" value="<?php echo $this->htmlEscape($this->getFormData()->getTelephone()) ?>" title="Telephone" class="required-entry input-text"/>
                    </div>
                </li>
                <li><label for="street_1">Street Address
                        <span class="required">*</span></label>
                    <br/>
                    <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(1)) ?>" title="Street Address" id="street_1" class="required-entry input-text"/>
                </li>

                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines();
                $_i <= $_n;
                $_i++): ?>
                <li>
                    <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address ' . $_i) ?>" id="street_<?php echo $_i ?>" class="input-text"/>
                    <?php endfor ?>
                </li>
                <li>
                    <div class="input-box">
                        <label for="city">City <span class="required">*</span></label><br/> <input type="text" name="city" value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>" title="City" class="required-entry input-text" id="city"/>
                    </div>
                    <div class="input-box">
                        <label for="region_id">State/Province
                            <span class="required">*</span></label><br/>
                        <select id="region_id" name="region_id" title="State/Province" class="validate-select" style="display:none">
                            <option value="">Please select region, state or province</option>
                        </select>

                        <script type="text/javascript">
                            $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                        </script>

                        <input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="State/Province" class="input-text" style="display:none"/></div>
                </li>
                <li>
                    <div class="input-box">
                        <label for="zip">Zip/Postal Code
                            <span class="required">*</span></label><br/>
                        <input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>" title="Zip/Postal Code" id="zip" class="validate-zip-international required-entry input-text"/>
                    </div>
                    <div class="input-box"><label for="country">Country
                            <span class="required">*</span></label><br/>
                        <?php echo $this->getCountryHtmlSelect() ?>
                    </div>
                </li>
            </ul>

        <input type="hidden" name="default_billing" value="1"/>
        <input type="hidden" name="default_shipping" value="1"/>

    <?php endif; ?>

    <h4 class="legend">Login Information</h4>
        <ul>
            <li>
                <div class="input-box">
                    <label for="password">Password <span class="required">*</span></label><br/>
                    <input type="password" name="password" id="password" title="Password" class="required-entry validate-password input-text"/></div>
                <div class="input-box"><label for="confirmation">Confirm Password
                        <span class="required">*</span></label><br/>
                    <input type="password" name="confirmation" title="Confirm Password" id="confirmation" class="required-entry validate-cpassword input-text"/>
                </div>
            </li>
        </ul>

    <div class="button-set"><p class="required">* Required Fields</p>
        <a href="<?php echo $this->getBackUrl() ?>" class="default-button left">&laquo; Back</a><span style="padding-right:10px;"></span>
        <button class="form-button" type="submit"><span>Submit</span></button>
    </div>
</form>
</div>

<script type="text/javascript">
    //<![CDATA[
    // var dataForm = new VarienForm('form-validate', true);
    <?php if($this->getShowAddressFields()): ?>
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
    <?php endif; ?>
    //]]>
</script>