

<?php 
	$_cartQty = $this->getSummaryCount(); 
	if ($_cartQty == '')
		$_cartQty = 0;
$loggedIn = $this->helper("customer")->isLoggedIn();

?>

<?php //if ($_cartQty==1 || $_cartQty==0): ?>
<!--	--><?php //echo $this->__('<a href="%s" rel="nofollow">%s item</a>', $this->getUrl('checkout/cart'), $_cartQty) ?>
<?php //else: ?>
<!--	--><?php //echo $this->__('<a href="%s" rel="nofollow">%s items</a>', $this->getUrl('checkout/cart'), $_cartQty) ?>
<?php //endif ?>



<?php
if ($loggedIn == 1) {
    ?>
    <div id="cart_menu" class="s_nav">
        <a href="<?php echo Mage::getBaseUrl() . "checkout/cart/"; ?>">
            <span class="s_icon"></span>
            <span class="s_grand_total s_main_color"><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></span>
        </a>

<!--        <div class="s_submenu s_cart_holder">-->
<!---->
<!--            <div class="empty">Your shopping cart is empty!</div>-->
<!--        </div>-->
    </div>
<?php } else { ?>

<?php } ?>

<p id="welcome_message">
    <?php
    if ($loggedIn == 1) {
    ?>
    Welcome customer you can <a href="<?php echo Mage::getBaseUrl() . "customer/account/logout/" ?>">Logout</a>. </p>
    <ul class="s_list_1">
        <li><a href="<?php echo Mage::getBaseUrl() . "customer/account/"; ?>">My Account</a></li>
        <li><a href="<?php echo Mage::getBaseUrl() . "checkout/cart/"; ?>">Shopping Cart</a></li>
        <li><a href="<?php echo Mage::getBaseUrl() . "wishlist"; ?>">Wishlist</a></li>
    </ul>

<?php }else{ ?>
                Welcome visitor you can <a href="<?php echo Mage::getBaseUrl() . "customer/account/login/" ?>">login</a> or <a href="<?php echo Mage::getBaseUrl() . "customer/account/login/" ?>">create an account</a>. 
 <ul class="s_list_1">
        <li><a href="<?php echo Mage::getBaseUrl() . "customer/account/"; ?>" rel="nofollow">My Account</a></li>
        <li><a href="<?php echo Mage::getBaseUrl() . "checkout/cart/"; ?>" rel="nofollow">Shopping Cart</a></li>
        <li><a href="<?php echo Mage::getBaseUrl() . "wishlist"; ?>" rel="nofollow">Wishlist</a></li>
    </ul>

                <?php } ?>
                </p>
