<?php  $_order = $this->getOrder() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>


    <h3><?php echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel()) ?></h3>
    <?php if($this->helper('rss/order')->isStatusNotificationAllow()): ?>
        <a href="<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>" class="link-feed"><?php echo $this->__('Subscribe to Order Status') ?></a>
        <span class="pipe">|</span>
    <?php endif; ?>


    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
        <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-cart"><?php echo $this->__('Reorder') ?></a>
        <span class="pipe">|</span>
    <?php endif ?>


    <a href="<?php echo $this->getPrintUrl($_order) ?>" class="link-cart" onclick="this.target='_blank';"><?php echo $this->__('Print Order') ?></a>
<hr/>

<?php echo $this->getStatusHistoryRssUrl($_order) ?>

<?php echo $this->__('About This Order:') ?>

  <?php $_links = $this->getLinks(); ?>
    <?php foreach ($_links as $_link): ?>
      <?php if($_link->getUrl()): ?>
        <b><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></b>
      <?php else: ?>
        <b><?php echo $_link->getLabel() ?></b>
      <?php endif; ?>
    <?php endforeach; ?>

<p><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>

<hr/>
<?php if (!$_order->getIsVirtual()): ?>

<table class="attribute">
    <thead>
    <tr>
        <td>
            <h4><?php echo $this->__('Shipping Address') ?></h4>
        </td>
    </tr>
    </thead>
    <tr>
        <td>
            <?php echo $_order->getShippingAddress()->format('html') ?>
        </td>
    </tr>
</table>

<table class="attribute">
    <thead>
    <tr>
        <td>
        <h4><?php echo $this->__('Shipping Method') ?><?php /* | <a href="#"><?php echo $this->__('Track Order') ?></a>*/ ?></h4>
        </td>
    </tr>
    </thead>

        <?php if ($_order->getShippingDescription()): ?>
            <tr>
                <td>
                    <?php echo $_order->getShippingDescription() ?>
                </td>
            </tr>
        <?php else: ?>
            <tr>
                <td>
                    <?php echo $this->helper('sales')->__('No shipping information available'); ?>
                </td>
            </tr>
        <?php endif; ?>
</table>
<?php endif; ?>
<table class="attribute">
    <thead>
    <tr>
        <td>
            <h4><?php echo $this->__('Billing Address') ?></h4>
        </td>
    </tr>
    </thead>
    <tr>
        <td>
            <?php echo $_order->getBillingAddress()->format('html') ?>
        </td>
    </tr>
</table>

<table class="attribute">
    <thead>
    <tr>
        <td>
            <h4><?php echo $this->__('Payment Method') ?></h4>
        </td>
    </tr>
    </thead>
    <tr>
        <td>
            <?php echo $this->getPaymentInfoHtml() ?>
        </td>
    </tr>
</table>


