<?php
//set the current url
$url = "http://www.cibariasoapsupply.com" . $_SERVER['REQUEST_URI'];
//parse the url to grab the query part of the string
$newurl = (parse_url($url));
//check if $newurl has a query from the parsed url in the array
$d2 = (isset($newurl['query']));
//check the values
if($d2 == true ){
    $currentCategory = "Default Category";
} elseif($d2 == false){
    $currentCategory =  Mage::registry('current_category')->getName();
}
if($this->getCollection()->getSize()): ?>
<div class="toolbar_desktop">
    <!--        pages-->
<span style="padding-right:20px;">
    <?php if($this->getLastPageNum()>1): ?>
        <strong>Page:</strong>
        <?php if (!$this->isFirstPage()): ?>
            <a href="<?php echo $this->getPreviousPageUrl() ?>"><img src="<?php echo $this->getSkinUrl('images/pager_arrow_left.gif') ?>" alt="<?php echo $this->__('Previous') ?>" /></a>
        <?php endif ?>
        <?php foreach ($this->getPages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <span><?php echo $_page ?></span>
            <?php else: ?>
                <a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a>
            <?php endif ?>
        <?php endforeach;; ?>
        <?php if (!$this->isLastPage()): ?>
            <a href="<?php echo $this->getNextPageUrl() ?>"> >></a>
        <?php endif ?>
    <?php endif; ?>
</span>
    <!--        end pages-->
<!--sort by-->
<span style="padding-right:20px;">
    <strong>Sort By:</strong>
<!--        <div id="listing_sort" class="s_switcher">-->
    <select onchange="setLocation(this.value)" class="s_options">
        <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
            <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                <?php echo $_order ?>
            </option>
        <?php endforeach; ?>
    </select>
<?php endif; ?>
</span>
<!--            </div>-->
<!--        end sort by-->
<span>
                <strong>Show</strong>&nbsp;
                    <select onchange="setLocation(this.value)">
                <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                    <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                        <?php echo $_limit ?>
                    </option>
                <?php endforeach; ?>
                </select> <strong>per page</strong>
</span>
        <?php if( $this->isExpanded() ): ?>
    <?php endif ?>
</div>
<div class="toolbar_mobile">
    <!--        pages-->
    <?php if($this->getLastPageNum()>1): ?>
        Page:&nbsp;
        <?php if (!$this->isFirstPage()): ?>
            <a href="<?php echo $this->getPreviousPageUrl() ?>"><img src="<?php echo $this->getSkinUrl('images/pager_arrow_left.gif') ?>" alt="<?php echo $this->__('Previous') ?>" /></a>
        <?php endif ?>
        <?php foreach ($this->getPages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <span><?php echo $_page ?></span>
            <?php else: ?>
                <a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a>
            <?php endif ?>
        <?php endforeach;; ?>
        <?php if (!$this->isLastPage()): ?>
            <a href="<?php echo $this->getNextPageUrl() ?>"> >></a>
        <?php endif ?>
    <?php endif; ?>
    <!--        end pages-->
</div>