@charset "utf-8";
/* CSS Document */


/***  F O R M S  ***/
#tb_cp button,
#tb_cp .s_button
{
  height: 28px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  font-weight: bold;
  font-size: 11px;
  color: #333;
  background: #fff url(../images/cp/button_default.png) repeat-x top left;
  background: -moz-linear-gradient(#fff, #f6f6f6) 0 0 no-repeat;
  background: -o-linear-gradient(top, #fff, #f6f6f6) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f6f6f6)) 0 0 no-repeat;
  border: none;
  border-radius: 30px;
  box-shadow:
    inset 0 1px 0 #bbb,
    inset 0 -1px 0 #888,
    inset 1px 0 0 #aaa,
    inset -1px 0 0 #aaa,
    inset 0 2px #fff
  ;
  -moz-border-radius: 30px;
  -moz-box-shadow:
    inset 0 1px 0 #bbb,
    inset 0 -1px 0 #888,
    inset 1px 0 0 #aaa,
    inset -1px 0 0 #aaa,
    inset 0 2px #fff
  ;
  -webkit-border-radius: 30px;
  -webkit-box-shadow:
    inset 0 1px 0 #bbb,
    inset 0 -1px 0 #888,
    inset 1px 0 0 #aaa,
    inset -1px 0 0 #aaa,
    inset 0 2px #fff
   ;
  -o-box-shadow:
    inset 0 1px 0 #bbb,
    inset 0 -1px 0 #888,
    inset 1px 0 0 #aaa,
    inset -1px 0 0 #aaa,
    inset 0 2px #fff
  ;
}
#tb_cp button:hover,
#tb_cp .s_button:hover
{
  background: #f1f1f1 url(../images/cp/button_default_hover.png) repeat-x top left;
  background: -moz-linear-gradient(#fbfbfb, #f1f1f1) 0 0 no-repeat;
  background: -o-linear-gradient(top, #fbfbfb, #f1f1f1) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#f1f1f1)) 0 0 no-repeat;
  box-shadow:
    inset 0 1px 0 #888,
    inset 0 -1px 0 #666,
    inset 1px 0 0 #777,
    inset -1px 0 0 #777,
    inset 0 2px #fff
  ;
  -moz-border-radius: 30px;
  -moz-box-shadow:
    inset 0 1px 0 #888,
    inset 0 -1px 0 #666,
    inset 1px 0 0 #777,
    inset -1px 0 0 #777,
    inset 0 2px #fff
  ;
  -webkit-border-radius: 30px;
  -webkit-box-shadow:
    inset 0 1px 0 #888,
    inset 0 -1px 0 #666,
    inset 1px 0 0 #777,
    inset -1px 0 0 #777,
    inset 0 2px #fff
   ;
  -o-box-shadow:
    inset 0 1px 0 #888,
    inset 0 -1px 0 #666,
    inset 1px 0 0 #777,
    inset -1px 0 0 #777,
    inset 0 2px #fff
  ;
}
#tb_cp button:focus,
#tb_cp .s_button:focus
{
  background: -moz-linear-gradient(#ededed, #f9f9f9) 0 0 no-repeat;
  background: -o-linear-gradient(top, #ededed, #f9f9f9) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#f9f9f9)) 0 0 no-repeat;
}
#tb_cp button:disabled,
#tb_cp .s_button.disabled
{
  color: #aaa;
}
#tb_cp button:disabled:hover,
#tb_cp .s_button.disabled:hover
{
  cursor: default;
  background: -moz-linear-gradient(#f6f6f6, #e4e4e4) 0 0 no-repeat;
  background: -o-linear-gradient(top, #f6f6f6, #e4e4e4) 0 0 no-repeat;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e4e4e4)) 0 0 no-repeat;
}
#tb_cp .s_button {display: inline-block;}




#tb_cp {
  z-index: 100;
  position: fixed;
  top: 15px;
  left: 0;
  width: 200px;
  height: 550px;
  padding: 80px 10px 10px 10px;
  padding: 26px 10px 10px 10px;
  background: #2d2d2d url(../images/cp/panel_bgr.jpg) no-repeat top center;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
}
#tb_cp,
#tb_cp *
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#tb_cp_title {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 26px;
  line-height: 24px;
  letter-spacing: 3px;
  word-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}
#tb_cp_open {
  z-index: 100;
  position: fixed;
  top: 30px;
  left: 0;
  display: none;
  width: 24px;
  height: 24px;
  background: #2d2d2d url(../images/cp/panel_bgr.jpg) no-repeat top right;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
}
#tb_cp_open a {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  background: url(../images/cp/panel_show.png) no-repeat center top;
}
#tb_cp_open a:hover {
  background-position: center bottom;
}
#tb_cp_close {
  z-index: 20;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 12px;
  height: 12px;
  display: block;
  background: url(../images/cp/panel_close.png) no-repeat center top;
}
#tb_cp_close:hover {
  background-position: center bottom;
}
#tb_cp_wrapper {
  width: 200px;
  height: 550px;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#tb_cp form {
	height: 458px
}
#themeburn_logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 180px;
  height: 80px;
  text-indent: -1000em;
}
#tb_cp h3 {
  cursor: pointer;
  margin: 0;
  padding: 7px 10px 8px 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
}
#tb_cp .s_panel_section {
	border-bottom: none !important;
}
#tb_cp .s_accordion > .ui-accordion-header.ui-state-default {
  background: url(../images/cp/panel_header_closed.png) repeat-x top center #cccccc;
  box-shadow: inset 0 -1px 0 #bbb;
  -o-box-shadow: inset 0 -1px 0 #bbb;
  -moz-box-shadow: inset 0 -1px 0 #bbb;
  -webkit-box-shadow: inset 0 -1px 0 #bbb;
}
#tb_cp .s_accordion > h3, #tb_cp .s_accordion > .ui-accordion-header.ui-state-active {
  color: #ff4c00;
  background: url(../images/cp/panel_header.png) no-repeat top center;
  box-shadow: inset 0 -1px 0 #eee;
  -o-box-shadow: inset 0 -1px 0 #eee;
  -moz-box-shadow: inset 0 -1px 0 #eee;
  -webkit-box-shadow: inset 0 -1px 0 #eee;
}
#tb_cp .ui-accordion-header .ui-icon {
	display: inline-block;
	width: 15px;
	height: 10px;
}
#tb_cp .ui-accordion-header .ui-icon {
	background: url(../images/cp/accordion.gif) no-repeat 0 -24px;
}
#tb_cp .ui-accordion-header.ui-state-active .ui-icon {
	background: url(../images/cp/accordion.gif) no-repeat 0 1px;
}
#tb_cp h3, #tb_cp h3:focus, #tb_cp h3:visited {
  outline: none;
}
#tb_cp h3:first-of-type {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
#tb_cp .s_accordion > h3.ui-state-default {
	color: #333;
}
#tb_cp .s_panel_section {
	margin-bottom: 0;
  padding: 10px;
	border-bottom: 0;
  background: url(../images/cp/panel_section.png) no-repeat center top;
}
#tb_cp .ui-accordion .ui-accordion-content {
	clear: both;
}
#tb_cp .ui-accordion .ui-accordion-content-active {
	border-bottom: none;
}
#tb_cp .s_accordion > .ui-accordion-content-active {
  box-shadow: inset 0 -1px 0 #ccc;
  -o-box-shadow: inset 0 -1px 0 #ccc;
  -moz-box-shadow: inset 0 -1px 0 #ccc;
  -webkit-box-shadow: inset 0 -1px 0 #ccc;
}


#tb_cp .s_cp_row {
  padding: 3px 0;
}
#tb_cp .s_cp_row:first-child,
#tb_cp .s_cp_row:first-child label,
#tb_cp .ui-accordion-content > label:first-child
{
  padding-top: 0 !important;
}
#tb_cp label {
  float: left;
	width: auto;
  padding: 4px 0;
  line-height: 14px;
  color: #000;
  font-size: 11px;
}
#tb_cp label strong {
	display: block;
	width: 160px;
}
#tb_cp strong {
  font-weight: bold;
}
#tb_cp select,
#tb_cp input[type=text]
{
  float: left;
  margin: 0 5px 0 0;
  line-height: 20px;
  color: #666;
  font-size: 11px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#tb_cp input[type=text] {
  height: 18px;
  padding: 1px 3px;
}
#tb_cp select {
  width: 100%;
	margin-right: 0 !important;
  padding: 3px 3px 3px 0;
  height: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
#tb_cp .s_color {
  float: right !important;
}
#tb_cp .colorSelector {
  float: right;
}
#tb_cp select:hover,
#tb_cp select:focus,
#tb_cp input[type=text]:hover,
#tb_cp input[type=text]:focus
{
  color: #000;
  background-color: #fffbe5;
  border-color: #928641 #d7cd94 #d7cd94 #aea368;
}
#tb_cp .s_submit {
  position: absolute;
	bottom: 10px;
	left: 10px;
	width: 180px;
	margin: 0;
	padding: 11px 10px 12px 10px;
	text-align: center;
	background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
	box-shadow: inset 0 -10px 20px rgba(0,0,0,0.1);
}
#button_remove_color_schemer {
	float: left;
	width: 50px;
	text-align: left;
	line-height: 14px;
	font-size: 11px;
}
#tb_cp .s_submit button {
	display: inline-block;
  ~width: 140px;
	margin: 0;
}

.colorpicker {
  z-index: 1001;
  margin-top: -125px;
}

#tb_cp label.ui-accordion-header {
	display: block;
	clear: both;
	width: 100%;
	margin: 0;
	cursor: pointer;
}
#tb_cp_theme_fonts .ui-accordion-content {
	margin-bottom: 0;
	padding: 0 0 3px 0 !important;
}
#tb_cp_theme_fonts .ui-accordion-content select {
	margin-bottom: 7px;
}
#tb_cp_theme_fonts select.fontname {
	margin-right: 7px !important;
}

.s_save_10 {background-image: url(../images/i_save_10.png !important;}



