.search{
margin-top:100px;
}

.searchbox{
    border-color:#4AABC3;
    max-width: 100%;
    padding: 4px;
    border: none;
    background: #fff;
    border: 1px solid #4AABC3;
}
.search-autocomplete{
display:none;
}
.search-autocomplete ul{
	background-color:white;
}
#p_method_purchaseorder{
	display: none;
}
#po_number{
	display:none;
}

.btn-remove {
	padding:10px;
	background-color:red;
	color:white;
	border: 1px solid black;
}
