
    <h3><?php echo $this->__('Address Book') ?></h3>
    <button type="button" class="form-button" onclick="window.location='<?php echo $this->getAddAddressUrl() ?>';"><span><?php echo $this->__('Add New Address') ?></span></button>



<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<h4><?php echo $this->__('Default Addresses') ?></h4>

        <?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling()): ?>
    <table class="attribute">
        <thead>
        <tr>
            <td>
                <h5><?php echo $this->__('Default Billing Address') ?></h5>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
            </td>
        </tr>
            <tr>
            <td>
                <strong><a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Billing Address') ?></a></strong>
            </td>
        </tr>
        </table>
            <br />



           <?php elseif($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping()): ?>
    <table class="attribute">
        <thead>
        <tr>
            <td>
                <h5><?php echo $this->__('Default Billing Address') ?></h5>
            </td>
        </tr>
        </thead>
        <tr>
            <td>
                    <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                </td>
            </tr>
        <tr>
            <strong><a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Billing Address') ?></a></strong>
        </tr>

            <?php else: ?>
        <table class="attribute">
        <thead>
        <tr>
            <td>
                <h5><?php echo $this->__('Default Billing Address') ?></h5>
            </td>
        </tr>
        </thead>
            <tr>
                <td>

                <?php echo $this->__('You have no default billing address in your address book.') ?>
                    </td>
                </tr>
            </table>
            <?php endif ?>

            <?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping()): ?>
                <table class="attribute">
                <thead>
                <tr>
                <td>
                <h5><?php echo $this->__('Default Shipping Address') ?></h5>
                </td>
                </tr>
                </thead>
                <tr>
                    <td>
                    <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?></td>
                    </tr>
                <tr>
                    <td>
                        <strong><a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Shipping Address') ?></a></strong>
                    </td>
                </tr>
                   </table>


            <?php elseif($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling()): ?>
                <table class="attribute">
                    <thead>
                    <tr>
                        <td>
                <h5><?php echo $this->__('Default Shipping Address') ?></h5>
                            </td>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong><a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Shipping Address') ?></a></strong>
                        </td>
                    </tr>
                    </table>
                <br/>


            <?php else: ?>
                <table class="attribute">
                    <thead>
                    <tr>
                        <td>
                <h5><?php echo $this->__('Default Shipping Address') ?></h5>
                            </td>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <?php echo $this->__('You have no default shipping address in your address book.') ?>

                        </td>
                    </tr>
    </table>
            <?php endif ?>



        <table class="attribute">
            <thead>
            <tr>
                <td>
        <h4><?php echo $this->__('Additional Address Entries') ?></h4>
                    </td>
                </tr>
            </thead>


        <?php if($_pAddsses = $this->getAdditionalAddresses()): ?>
            <?php foreach($_pAddsses as $_address): ?>
                <tr>
              <td>
                    <?php echo $this->getAddressHtml($_address) ?><br/>
                    <strong><a href="<?php echo $this->getUrl('customer/address/edit', array('id'=>$_address->getId())) ?>"><?php echo $this->__('Edit Address') ?></a></strong>
              </td>
                    <td>
                    <strong><a href="#" onclick="return deleteAddress('<?php echo $_address->getId() ?>');" class="link-remove"><?php echo $this->__('Delete Address') ?></a></strong>
                    </td>
                </tr>
            <?php endforeach; ?>
            </table>
        <?php else: ?>
            <strong><?php echo $this->__('You have no additional address entries in your address book.') ?></strong>
        <?php endif ?>

<div class="button-set">
    <a href="<?php echo $this->getBackUrl() ?>" class="left">&laquo; <?php echo $this->__('Back') ?></a>
</div>
<script type="text/javascript">
//<![CDATA[
    function deleteAddress(addressId) {
        if(confirm('<?php echo $this->__('Are you sure you want to delete this address?') ?>')) {
            window.location='<?php echo $this->getDeleteUrl() ?>id/'+addressId;
        }
        return false;
    }
//]]>
</script>