<?php
$functions_path = $_SERVER['DOCUMENT_ROOT'];
$functions_path .= '/shop/includes/functions.php';
require($functions_path);
?>
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>

<body>
<!--jquery no conflict-->
<script type="text/javascript">

    jQuery.noConflict();

    var $j = jQuery;

</script>
<!--end-->

<!--header-->
<?php echo $this->getChildHtml('header') ?>
<?php //include('../shop/includes/header.php'); ?>
<!--end header-->
<div id="container-wrapper">
    <div id="notification">
        <?php echo $this->getChildHtml('global_messages') ?>
    </div>
    <div id="container">

        <!--        breadcrumbs-->
        <div class="breadcrumb">
            <?php echo $this->getChildHtml('breadcrumbs') ?>
        </div>

        <!-- Begin category top content -->
        <div class="category-top-content">
            <!-- Begin category info -->
<!--            <h1>--><?php //echo MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() ?><!--</h1>-->
        </div>

        <div id="content">
            <?php echo $this->getChildHtml('content') ?>
        </div><!--end content-->

        <!--    footer-->
        <?php include('../shop/includes/footer.php'); ?>
        <?php //echo $this->getChildHtml('footer') ?>

    </div><!--end container-->


</body>
</html>
