<?php
$functions_path = $_SERVER['DOCUMENT_ROOT'];
$functions_path .= '/shop/includes/functions.php';
require($functions_path);
?>
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <?php echo $this->getChildHtml('head') ?>
    <style type="text/css">
    input.button-product1-page {
    background-color: #E6348A;
    border: none;
    padding: 6px 20px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    line-height: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
</style>
</head>

<body>
<!--jquery no conflict-->
<script type="text/javascript">

    jQuery.noConflict();

    var $j = jQuery;

</script>
<!--end-->

<!--header-->
        <?php echo $this->getChildHtml('header') ?>
<?php //include('../shop/includes/header.php'); ?>
<!--end header-->

<div id="container-wrapper">
    <div id="notification">
        <?php echo $this->getChildHtml('global_messages') ?>
    </div>
    <div id="container">

<!--        breadcrumbs-->
        <div class="breadcrumb">
            <?php echo $this->getChildHtml('breadcrumbs') ?>
        </div>


        <!-- Begin category top content -->
        <div class="category-top-content">
            <!-- Begin category info -->
            <h1><?php echo MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() ?></h1>
            </div>

        <?php
        $currentUrl = Mage::helper('core/url')->getCurrentUrl();
        $url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
        $path = $url->getPath();

        $adminPaths = ['/shop/customer/account/', '/shop/customer/account/index/', '/shop/customer/account/index', '/shop/wishlist/', '/shop/customer/account/edit/', '/shop/customer/address/index/', '/shop/sales/order/history/', '/shop/customer/address/edit/', '/shop/customer/address/'];
        if(in_array($path, $adminPaths)) { ?>
            <div id="column-left">
               <?php include("../shop/includes/admin-left.php"); ?>
            </div>
        <?php }else{ ?>
    <!--left column-->
    <div id="column-left">

        <div id="box-category-area">


            <?php
            //Categories
            $category = Mage::getSingleton('catalog/layer')->getCurrentCategory();
            $categories = $category->getCollection()
                ->addAttributeToSelect(array('name', 'thumbnail'))
                ->addAttributeToFilter('is_active', 1)
                ->addAttributeToSort('name', 'ASC')
                ->addIdFilter($category->getChildren());
            ?>
            <div class="box">
                <?php 
                //hide category if it's empty. yes the semi collin stops the foreach after the first loop
                foreach($categories as $categoryname); ?>
                <?php if(isset($categoryname) && $categoryname > "0") { ?>
                <div class="box-heading"><span class="category">Categories</span></div>
                <?php }else {
                    echo "";
                } ?>
                <div class="box-content">
                    <div class="box-category">
                        <ul>

                            <?php foreach($categories as $index) { ?>

                                <li><a href="<?php echo $index->getUrl(); ?>" title="<?php echo $index->getName(); ?>"><?php echo $index->getName(); ?></a></li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<div class="box">
            <div class="box-heading"><span class="account">Back In Stock</span></div>
            <div class="box-content">
                <div class="box-product">
                    <?php
                    $featured = Mage::getModel('catalog/category')->load(225);  // YOU NEED TO CHANGE 5 TO THE ID OF YOUR CATEGORY
                    $featured = $featured->getProductCollection();
                    foreach($featured->getAllIds() as $featured_product)
                    {
                    $_product = Mage::getModel('catalog/product')->load($featured_product); ?>

                    <div>
                        <!-- Begin boxgrid //-->
                        <div class="boxgrid">
                            <div class="image"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>"><img src="<?php echo $_product->getImageUrl(); ?>" alt="<?php echo $_product->getName(); ?>" width="75px" height="50px"/   /></a></div>
                            <div class="box-product-info">
                                <div class="description">
                                        <?php echo $_product->getShortDescription(); ?></div>
                                <div class="more"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>" title="<?php echo $_product->getName(); ?>">"></a></div>
                            </div>
                        </div>
                        <!-- End boxgrid //-->

                        <!-- Begin boxgrid bottom //-->
                        <div class="boxgrid-bottom">
                            <div class="name"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?></a></div>
                        </div>
                        <!-- End boxgrid bottom //-->

                    </div>
<?php } ?>
                </div>
            </div>
        </div>




        <div class="box">
            <div class="box-heading"><span class="specials">Featured</span></div>
            <div class="box-content">
                <div class="box-product">
                    <?php
                    $featured = Mage::getModel('catalog/category')->load(223);  // YOU NEED TO CHANGE 5 TO THE ID OF YOUR CATEGORY
                    $featured = $featured->getProductCollection();
                    foreach($featured->getAllIds() as $featured_product)
                    {
                    $_product = Mage::getModel('catalog/product')->load($featured_product); ?>

                    <div>
                        <!-- Begin boxgrid //-->
                        <div class="boxgrid">
                            <div class="image"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>"><img src="<?php echo $_product->getImageUrl(); ?>" alt="<?php echo $_product->getName(); ?>" width="75px" height="50px"/   /></a></div>
                            <div class="box-product-info">
                                <div class="description">
                                        <?php echo $_product->getShortDescription(); ?></div>
                                <div class="more"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>" title="<?php echo $_product->getName(); ?>">"></a></div>
                            </div>
                        </div>
                        <!-- End boxgrid //-->

                        <!-- Begin boxgrid bottom //-->
                        <div class="boxgrid-bottom">
                            <div class="name"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?></a></div>
                        </div>
                        <!-- End boxgrid bottom //-->

                    </div>
<?php } ?>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-heading"><span class="bestsellers">What's New</span></div>
            <div class="box-content">
                <div class="box-product">
                    <?php
                    $featured = Mage::getModel('catalog/category')->load(224);  // YOU NEED TO CHANGE 5 TO THE ID OF YOUR CATEGORY
                    $featured = $featured->getProductCollection();
                    foreach($featured->getAllIds() as $featured_product)
                    {
                        $_product = Mage::getModel('catalog/product')->load($featured_product); ?>

                        <div>
                            <!-- Begin boxgrid //-->
                            <div class="boxgrid">
                                <div class="image"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>"><img src="<?php echo $_product->getImageUrl(); ?>" alt="<?php echo $_product->getName(); ?>"  width="75px" height="50px"/></a></div>
                                <div class="box-product-info">
                                    <div class="description">
                                        <?php echo $_product->getShortDescription(); ?></div>
                                    <div class="more"><a href="<?php echo Mage::getBaseUrl() . $_product->getUrlPath(); ?>" title="<?php echo $_product->getName(); ?>">"></a></div>
                                </div>
                            </div>
                            <!-- End boxgrid //-->

                            <!-- Begin boxgrid bottom //-->
                            <div class="boxgrid-bottom">
                                <div class="name"><a href="<?php echo Mage::getBaseUrl() .  $_product->getUrlPath(); ?>" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?></a></div>
                            </div>
                            <!-- End boxgrid bottom //-->

                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
        <div id="banner0" class="banner">
            <br class="clear"/>
        </div>
    </div><!-- end left-->
        <?php } ?>



<div id="content">
                <?php echo $this->getChildHtml('content') ?>
</div><!--end content-->
        </div>
	<?php include('../shop/includes/footer.php'); ?>

</div><!--end container-->

    <?php //echo $this->getChildHtml('footer') ?>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30465466-2', 'cibariastoresupply.com');
  ga('send', 'pageview');

</script>

</body>
</html>