<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>

<body>

<!--jquery no conflict-->
<!--<script type="text/javascript">-->
<!---->
<!--    jQuery.noConflict();-->
<!---->
<!--    var $j = jQuery;-->
<!---->
<!--</script>-->
<!--end-->

<!--header-->
<?php echo $this->getChildHtml('header') ?>
<!--end header-->

<div id="container-wrapper">
    <div id="notification">
        <?php echo $this->getChildHtml('global_messages') ?>
    </div>
    <div id="container">

        <!--        breadcrumbs-->
        <div class="breadcrumb">
            <?php echo $this->getChildHtml('breadcrumbs') ?>
        </div>

        <!-- Begin category top content -->
        <div class="category-top-content">
            <!-- Begin category info -->
            <h1><?php echo MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() ?></h1>
        </div>



        <!-- start right -->
        <div id="column-left">
            <div class="col-right side-col">
            <?php echo $this->getChildHtml('right') ?>&nbsp;
        </div>
            </div>
        <!-- end right -->

        <div id="content">
            <div id="content">
                <?php echo $this->getChildHtml('content') ?>
            </div><!--end content-->


            <?php echo $this->getChildHtml('before_body_end') ?>
        </div>

        <!--    footer-->
        <?php include('../includes/footer.php'); ?>
        <?php //echo $this->getChildHtml('footer') ?>

    </div><!--end container-->

    <?php echo $this->getAbsoluteFooter() ?>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-30465466-2', 'cibariastoresupply.com');
        ga('send', 'pageview');

    </script>

</body>
</html>