<?php
$functions_path = $_SERVER['DOCUMENT_ROOT'];
$functions_path .= '/includes/functions.php';
require($functions_path);
?>
    <!DOCTYPE html>
    <html dir="ltr" lang="en">

    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Wholesale Olive Oils & Balsamic Vinegars </title>
        <?php include(url_path('/includes/head.php')) ;?>
    </head>

    <body>
        <?php include(url_path('/includes/header.php')); ?>
        <div id="header-area-mobile">
            <a href="<?php echo Mage::getBaseUrl();?>"><img src="<?php echo Mage::getBaseUrl();?>skin/frontend/default/cibaria-supply/images/logo.png" alt="Cibaria Store Supply" id="logo" class="header-area-mobile-logo"/></a>
        </div>
        <div id="container-wrapper">
            <div id="notification"></div>
            <div id="container">
                <?php include(url_path('/includes/slideshow.php')); ?>
                <div class="welcome"><span>Cibaria International</span></div>
                <div class="welcome-message">
                    <p>
                        <h1>Wholesale Supplies For Your Olive Oil Store</h1>
                        <p>
                            <strong>Quality is not a word we throw around lightly.</strong> Nor does quality only extend to our olive oils and vinegars. Quality is a word that describes our business. From our above and beyond customer service, to our amazing turn around times, Cibaria is a wholesale supplier that you can count on. There are other bulk suppliers out there but there is only one Cibaria International. You can trust us to supply your store or business with some of the best bulk olive oils and bulk balsamic vinegars that money can buy. Our dedication to our clients is spread company wide. From customer service to accounting you will be greeted with a knowledgeable employee who will do everything to make sure that purchasing from us is effortless.</p>
                </div>
                <!-- featured -->
                <?php include(url_path('/includes/featured.php')); ?>
                <div id="banner0" class="banner">
                    <div><a href="<?php echo Mage::getBaseUrl() . "request-account/";?>"><img src="images/account.jpg" alt="Banner-1" title="Banner-1"/></a></div>
                    <div><a href="<?php echo Mage::getBaseUrl() . "why-us";?>"><img src="images/why.jpg" alt="Banner-2" title="Banner-2"/></a></div>
                    <br class="clear" />
                </div>
                <div id="content">
                    <?php include(url_path('/includes/whats-released.php')); ?>
                    <h2>High Quality Wholesale Olive Oil & Vinegar</h2>
                    <p>In addition to bulk and wholesale balsamic vinegar and extra virgin olive oil, you can offer your customers the unique tastes of an array of gourmet pantry items to suit their tastes. At Cibaria International, we pride ourselves on the freshest and highest quality of olive oils and vinegars, on a consistent basis. Whether you're just opening an Olive Oil store or are looking for a new supplier you'll find Cibaria a perfect match for your business.</p>
                    <h3>Trusted & Reliable</h3>
                    <p>
                        You come first. Our customers are the focus of everything that we do. We have a vested interest in your success and are committed to meeting or exceeding your expectations. We strive to provide the best quality, the best service and the best variety to ensure your success. If you currently own or are considering opening a Olive Oil store or Specialty Food store we would love the opportunity to work with you. Thank you for considering Cibaria International
                    </p>
                    <script type="text/javascript">
                    <!--
                    $('#carousel0 ul').jcarousel({
                        vertical: false,
                        visible: 6,
                        scroll: 3
                    });
                    //-->
                    </script>
                </div>
                <div class="certs">
                    <center>
                        <img src="http://www.cibariastoresupply.com/images/certs3.jpg" alt="Certifications &amp; Associations">
                    </center>
                </div>
                <!--footer-->
                <?php include(url_path('/includes/footer.php'));?>
                <div id="powered">
                    <span class="footer-alignleft">Cibaria Store Supply <?php echo Date("Y"); ?></span>
                    <div style="clear:both"></div>
                </div>
            </div>
            <?php include(url_path('/includes/google-analytics.php')); ?>
    </body>

    </html>