<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Retired Flavors</title>
<meta name="description" content="Cibaria Store Supply"/>
<link href="#" rel="icon"/>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/nav.css"/>
<link rel="stylesheet" media="all" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/mobile.css"/>
<link rel="stylesheet" type="text/css" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/cloud-zoom.css"/>
<link type="text/css" rel="stylesheet" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/jquery.qtip.css"/>

<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/scroll-to-top.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/menu-mobile.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/footer-menu-mobile.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/thumbnail-hover.js"></script>
<script type="text/JavaScript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/cloud-zoom.1.0.2.js"></script>
<script type="text/JavaScript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/curr-lang-dropdown.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/slideshow.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/carousel.css" media="screen"/>

<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery-ui-1.8.16.custom.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery-ui-1.8.16.custom.css"/>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery.cookie.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery.colorbox.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/css/coslorbox.css" media="screen"/> -->

<!-- <script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery/tabs.js"></script> -->
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/common.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery.cycle.js"></script>
<script type="text/javascript" src="http://www.cibariastoresupply.com/shop/skin/frontend/default/cibaria-supply/js/jquery.jcarousel.min.js"></script>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/elegium/stylesheet/ie7.css"/>
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/elegium/stylesheet/ie6.css"/>
<script type="text/javascript" src="catalog/view/javascript/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('#logo img');
</script>
<![endif]-->

<link href='//fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<style type="text/css">
.box {
  padding-bottom: 15px;
  padding-top: 0px;
  padding-left: 200px;
  max-height: 1000px;
}
h2{
  padding-top:90px;
  margin-bottom:2px;
    font-size:100px;
    text-align: center;
    font-family: rage;
}
.category-head{
    padding-bottom:2px;s
}
.box-product {
  width: 500px;
}
.box .box-content {
  margin-top: 25px;
  text-align: left !important;
  min-height: 650px;
}
.product-filter {
  /* display: none; */
  /* padding-bottom: 25px; */
  /*margin-top: 100px;*/
  width: 60%;
  margin-left: 190px;
}

.box-product .boxgrid {
  position: relative;
  overflow: hidden;
  background: url(../images/noimage.gif) center no-repeat;
  height: 140px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #bfb6ad;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

.box-content .product-filter{
  display: none;
}
#footer {
  position: relative;
  clear: both;
  overflow: auto;
  min-height: 100px;
  margin-left: -220px;
  margin-right: -16px;
  padding: 25px 10px 10px 10px;
  background-image: url(../images/grass.png);
  background-repeat: repeat-x;
  background-color: #383838;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
#powered {
  margin: 0 -16px -3px -220px;
  font-size: 11px;
  color: #7E7E7E;
  background: #333;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #2E2E2E;
  border-left: none;
  border-right: none;
  border-bottom: none;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#footer .column1 a, #footer .column2 a, #footer .column3 a, #footer .column4 a {
  text-decoration: none;
  color: orange;
  display: block;
  font-size: 12px;
  background: url(../images/arrow-right-small.png) left 7px no-repeat;
  padding-left: 8px;
}
.column1 h3, .column2 h3, .column3 h3, .column4 h3 {
  color: orange;
}
#footer h3 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: orange;
}
.column-contacts a {
  text-decoration: none;
  color: orange;
  display: block;
}
.column-contacts ul li {
  color: orange;
  font-size: 12px;
  padding-left: 30px;
  line-height: 28px;
  list-style-type: none;
}
.pagination-top {
  margin-left: 200px;
  /*display: none;*/
  /* width: 100%; */
  /* padding-top: 20px; */
}

.box-content .pagination-top{
  display:none;
}
#container {
  background: #fff;
  padding: 14px 15px 0 15px;
  margin-bottom: 20px;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e1e1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: url('http://www.cibariastoresupply.com/images/tomb-background2.jpg');
}
user agent stylesheetdiv {
  display: block;
}
</style>
</head>

<body>
<script type="text/javascript">

            jQuery.noConflict();

            var $j = jQuery;

        </script>

        <?php echo $this->getChildHtml('header') ?>

<div id="container-wrapper">
    <div id="notification">
        <?php echo $this->getChildHtml('global_messages') ?>
    </div>

    <div id="container">

          <!--        breadcrumbs-->
        <div class="breadcrumb">
            <?php echo $this->getChildHtml('breadcrumbs') ?>
        </div>


				
                <!--tombstone-->
                
                    <div id="content">
                    <?php echo $this->getChildHtml('content') ?>
              
                

             
    <div id="footer">

        <div class="column-contacts">

            <ul>

                <h3>Cibaria International</h3>

                <li class="phone">705 Columbia Ave, Riverside, CA 92507</li>

                <li class="phone">Phone: (951) 823 - 8490</li>

                <li class="mobile">Fax: (951) 823 - 8495</li>

                <li class="email"><a href="http://www.cibariastoresupply.com/contact.php" rel="nofollow">Contact Us</a></li>

            </ul>

        </div>

        <!-- End contacts //-->



        <!-- Begin footer columns //-->

        <div class="column4">

            <h3>Cibaria Websites</h3>

            <ul>

                <li><a href="http://www.cibariasoapsupply.com/shop/">Cibaria Soap Supply</a></li>


                <li><a href="http://www.cibaria-intl.com">Cibaria International</a></li>

            </ul>

        </div>

        <div class="column3">

            <h3>My Account</h3>

            <ul>

                <li><a href="/shop/customer/account" rel="nofollow">My Account</a></li>

                <li><a href="/shop/sales/order/history/" rel="nofollow">Order History</a></li>

                <li><a href="/shop/wishlist" rel="nofollow">Wish List</a></li>

            </ul>

        </div>

        <div class="column2">

            <h3>Customer Service</h3>

            <ul>

                <li><a href="http://www.cibariastoresupply.com/contact.php" rel="nofollow">Contact Us</a></li>

                <li><a href="/shop/freight-policy" rel="nofollow">Freight Policy</a></li>

                <li><a href="/shop/payments" rel="nofollow">Website Payment Procedure</a></li>
                <li><a href="/shop/300-minimum">Minimum Order</a></li>

                <li><a href="/shop/ordering-policy" rel="nofollow">Ordering Policy</a></li>

                <li><a href="/shop/damage-policy" rel="nofollow">Damage Policy</a></li>

                <li><a href="/shop/policy-changes" rel="nofollow">Policy Changes</a></li>

                <li><a href="/shop/privacy-policy" rel="nofollow">Privacy Policy</a></li>

                <li><a href="/shop/site-terms" rel="nofollow">Terms &amp; Conditions</a></li>

            </ul>

        </div>

        <div class="column1">

            <h3>Information</h3>

            <ul>

                <li><a href="/shop/about-us">About Us</a></li>

                <li><a href="/shop/index.php/faq">FAQ</a></li>

                <li><a href="/shop/company-holidays" rel="nofollow">Company Holidays</a></li>

                <li><a href="/shop/index.php/articles">Articles</a></li>

            </ul>

        </div>



    </div>



  

        <!-- end middle -->




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30465466-2', 'cibariastoresupply.com');
  ga('send', 'pageview');

</script>

</body>

</html>