/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* footer contacts */
.column-contacts {
    float: right;
    width: 23%;
    min-height: 125px;
    margin: 0;
}
.column-contacts h3 {
    color: #7E7E7E;
}
.column-contacts ul {
    margin: 0;
    padding: 0;
}
.column-contacts ul li {
    color: #7E7E7E;
    font-size: 12px;
    padding-left: 30px;
    line-height: 28px;
    list-style-type: none;
}
.column-contacts .phone {
}
.column-contacts .mobile {
}
.column-contacts .email {
    /*background: url(/shop/skin/frontend/default/cibaria-supply/images/email.png) left center no-repeat;*/
}
.column-contacts a {
    text-decoration: none;
    color: #7E7E7E;
    display: block;
}
.column-contacts a:hover {
    text-decoration: underline;
}
/* powered */
#powered {
    margin: 0 -16px -3px -16px;
    font-size: 11px;
    color: #7E7E7E;
    background: #333;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #2E2E2E;
    border-left: none;
    border-right: none;
    border-bottom: none;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.footer-alignleft {
    float: left;
}
.footer-alignleft a {
    font-size: 11px;
    color: #999;
}
.footer-alignright {
    float: right;
}
.footer-alignright a {
    font-size: 11px;
    color: #999;
}
.footer-alignright a:hover {
    text-decoration: underline;
}