<div class="content">
	<?php echo $this->getMessagesBlock()->toHtml() ?>

	<div class="left">
		<div class="register_style">
			<h3><?php echo $this->__('Log in or Create an Account') ?></h3>
			<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
				<?php echo $this->getBlockHtml('formkey'); ?>

				<h4><?php echo $this->__('New Customers') ?></h4>
				<p><?php echo $this->__('By creating an account with our store, you will be able to see wholesale prices, have access to product material, articles and many more.') ?></p>

				<div class="bottom-buttons">
					<button type="button" class="register-button right" onclick="window.location='<?php echo $this->getUrl('request-account') ?>';" type="button"><span><?php echo $this->__('Request An Account') ?></span></button>
				</div>
				<div style="clear:both"></div>

		</div>
	</div>

	<div class="right">
		<div class="register_style">
			<h4><?php echo $this->__('Registered Customers') ?></h4>
			<p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
			<ul class="form-list">
				<li>
					<label for="email"><?php echo $this->__('Email Address') ?> <span class="required">*</span></label><br />
					<input type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" />
				</li>
				<li>
					<label for="pass"><?php echo $this->__('Password') ?> <span class="required">*</span></label><br />
					<input name="login[password]" type="password" class="input-text required-entry validate-password" id="pass" style="width:250px;" />
				</li>
			</ul>
			<p class="required"><?php echo $this->__('* Required Fields') ?></p>
			<br />
			<div class="bottom-login right">
				<a href="<?php echo $this->getForgotPasswordUrl() ?>" class="left" rel="nofollow"><?php echo $this->__('Forgot Your Password?') ?></a>

				<button type="submit" class="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Login')) ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>

			</div>
			<div style="clear:both"></div>

		</div>
	</div>
	</form>
	<script type="text/javascript">
		//<![CDATA[
		var dataForm = new VarienForm('login-form', true);
		//]]>
	</script>
</div>