
<?php if($_order = $this->getLastOrder()): ?>

<form method="post" action="<?php echo $this->getUrl('checkout/cart/addgroup') ?>" id="reorder-validate-detail">
    <table class="attribute">
    <thead>
    <tr>
    <td colspan="2"> <h4 style="display: block; float: left;"><?php echo $this->__('My Orders') ?>&nbsp;&nbsp;-&nbsp;&nbsp;</h4>
        <h5><?php echo $this->__('Last ordered items') ?></h5>
                <a href="<?php echo $this->getUrl('customer/account') ?>"><?php echo $this->__('View All') ?></a><br /><br />
        </td>
</tr>
</thead>



        <?php $_showAddButtonFlag = false ?>
        <?php foreach ($_order->getItemsRandomCollection(5) as $_item): ?>
            <?php if ($_item->getProduct() && is_null($_item->getParentItem())): ?>.
            <tr>
                <td>
                    <div class="product-checkbox">
                        <?php if ($_item->getProduct()->getStockItem()->getIsInStock()): ?>
                            <?php $_showAddButtonFlag = true ?>
                            <input type="checkbox" name="order_items[]" id="reorder-item-<?php echo $_item->getId() ?>" value="<?php echo $_item->getId() ?>" class="validate-one-required-by-name" />
                            <script type="text/javascript">
                                $('reorder-item-<?php echo $_item->getId() ?>').advaiceContainer = 'cart-sidebar-reorder-advice-container';
                            </script>
                        <?php endif; ?>
                    </div>
                    <div class="product-names">
                        <a href="<?php echo $_item->getProduct()->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a>
                    </div>
                </td>
            </tr>
            <?php endif; ?>
        <?php endforeach; ?>

    <script type="text/javascript">decorateList('cart-sidebar-reorder')</script>
    <div id="cart-sidebar-reorder-advice-container"></div>

    <?php if ($_showAddButtonFlag): ?>
        <tr>
            <td><button class="form-button" type="submit"><span><?php echo $this->__('Add to Cart') ?></span></button></td>
            </tr>
        </div>
    <?php endif; ?>
</form>
</table>
<?php echo $this->getPagerHtml(); ?>
<script type="text/javascript">
//<![CDATA[
    var reorderFormDetail = new VarienForm('reorder-validate-detail');
//]]>
</script>
<?php endif ?>
<hr/>
