
    <h5>Address Book</h5>
    <br />
    <a href="<?php echo $this->getAddressBookUrl() ?>" class="default-button">Manage Addresses</a>
<br />
    <br />
    <br />
        <h6>Primary Billing Address</h6>
        <address>
            <?php echo $this->getPrimaryBillingAddressHtml() ?>
            <br />
            <br />
            <a href="<?php echo $this->getPrimaryBillingAddressEditUrl() ?>" class="default-button">Edit Address</a>
        </address>
<br />
    <br />

        <h6>Primary Shipping Address</h6>
        <address>
            <?php echo $this->getPrimaryShippingAddressHtml() ?>
            <br />
            <br />
            <a href="<?php echo $this->getPrimaryShippingAddressEditUrl() ?>" class="default-button">Edit Address</a>
        </address>
<br />
    <br />
