
            <h5>Contact Information</h5>
            <br/>
            <p>
            <a href="<?php echo $this->getUrl('customer/account/edit') ?>" class="default-button">Edit</a>
            </p>

        <p>
            <?php echo $this->htmlEscape($this->getCustomer()->getName()) ?><br />
            <?php echo $this->htmlEscape($this->getCustomer()->getEmail()) ?><br />
            </p>
        <p>

            <a href="<?php echo $this->getChangePasswordUrl() ?>" class="default-button">Change Password</a>
            <br />
        </p>

<!--    --><?php //if( $this->isNewsletterEnabled() ): ?>
<!---->
<!--            <h5>Newsletters</h5>-->
<!--            <a href="--><?php //echo $this->getUrl('newsletter/manage') ?><!--" class="default-button">Edit</a>-->
<!---->
<!--        <p>-->
<!--            --><?php //if( $this->getIsSubscribed() ): ?>
<!--                You are currently subscribed to 'General Subscription'.-->
<!--            --><?php //else: ?>
<!--                You are currently not subscribed to any newsletter.-->
<!--            --><?php //endif; ?>
<!--        </p>-->
<!---->
<!--    --><?php //endif; ?>

<br />
