<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="<?php echo $this->getLang() ?>">

<head>
    <?php echo $this->getChildHtml('head') ?>
</head>

<body class="s_layout_fixed s_single_col s_page_common_home">
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-30465466-3', 'auto');
    ga('send', 'pageview');
    </script>
    <div id="wrapper">
        <?php echo $this->getChildHtml('header') ?>
        <?php
            //check if home
            if(
            Mage::getSingleton('cms/page')->getIdentifier() == 'home'  &&
            Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms'){
            ?>
            <img src="images/banner-hp.jpg" alt="Allways all Natural. Shop Quality Organic Oils and Butters" />
            <?php } ?>
            <div id="content" class="s_wrap">
                <div id="home" class="s_main_col">
                    <div class="s_module_content clearfix">
                        <?php echo $this->getChildHtml('content') ?>
                    </div>
                </div>
                <?php

                //check if home
                if(
                Mage::getSingleton('cms/page')->getIdentifier() == 'home'  &&
                Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms'){
                ?>
                    <div class="s_module_latest s_module_content">
                        <h2 class="s_title_1" style="color:#4AABC3;">Featured Items</h2>
                        <div class="s_listing s_grid_view size_1 clearfix">
                            <?php
                $featured = Mage::getModel('catalog/category')->load(219);  // YOU NEED TO CHANGE 5 TO THE ID OF YOUR CATEGORY
            $featured = $featured->getProductCollection();
            foreach($featured->getAllIds() as $featured_product)
            {
            $_product = Mage::getModel('catalog/product')->load($featured_product); ?>
                                <div class="s_item product_49">
                                    <a class="s_thumb" href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>">
                            <img src="<?php echo $_product->getImageUrl(); ?>" alt="<?php echo $_product->getName(); ?>"/>
                        </a>
                                    <div class="s_item_info">
                                        <h3><a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?></a></h3>
                                        <div class="s_price_holder s_size_3 s_label">
                                            <p class="s_price"><span class="s_currency s_before">$</span>
                                                <?php echo number_format($_product->getPrice(), $decimals = 2); ?>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <?php } }?>
                        </div>
                        <?php
            //check if home
             //footer won't work right on hp without this hack
            if(
            Mage::getSingleton('cms/page')->getIdentifier() == 'home'  &&
            Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms'){
            ?>
                    </div>
                    <?php } ?>
            </div>
            <div id="shop_info" class="s_row">
                <div id="shop_info_wrap" class="s_row">
                    <div class="s_wrap">
                        <div id="shop_description" class="s_col_3">
                            <h2>Cibaria Soap Supply</h2>
                            <p>Hello and Welcome to Cibaria Soap Supply.com! You now have the ability to purchase online bulk Soap Making Oils, Soap Making Butter, Organic Soap Making Oils, among other fine Wholesale Carrier Oils ! Our site features the ability to create Wishlists, and even leave notes to yourself on certain items that you may be purchasing at a later time. We're always updating our products and prices, so do check back often!</p>
                        </div>
                        <div id="shop_contacts" class="s_col_5">
                            <table cellpadding="5" cellspacing="5">
                                <tr>
                                    <td><img src="<?php echo Mage::getBaseUrl() . "images/telephone.gif " ?>" alt="(951) 823-8490" width="75" /></td>
                                    <td>(951) 823-8490</td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td><img src="<?php echo Mage::getBaseUrl() . "images/email.gif " ?>" alt="customerservice@cibaria-intl.com" width="75" /></td>
                                    <td>customerservice@cibaria-intl.com</td>
                                </tr>
                                <tr>
                                    <td><img src="<?php echo Mage::getBaseUrl(). "images/address.gif "; ?>" alt="705 Columbia Ave, Riverside, CA 92507" width="75" /></td>
                                    <td>705 Columbia Ave,
                                        <br /> Riverside, CA 92507</td>
                                </tr>
                            </table>
                        </div>
                        <div id="facebook" class="s_col_3">
                            <table>
                                <tr>
                                    <td><a href="https://www.facebook.com/soapoil/" title="Cibaria Soap Supply on Facebook" rel="nofollow"><img src="<?php echo Mage::getBaseUrl() ."images/facebook.gif" ?>" alt="Cibaria Soap Supply on Facebook"/></a></td>
                                    <td><a href="https://www.cibaria-intl.com/blog" title="Cibaria International Blog"><img src="<?php echo Mage::getBaseUrl() ."images/blog.gif" ?>" alt="Cibaria International blog"/></a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://twitter.com/cibariasoapoil" title="Cibaria Soap Supply Twitter" rel="nofollow"><img src="<?php echo Mage::getBaseUrl() . "images/twitter.gif" ?>" alt="twitter"/></a></td>
                                    <td><a href="https://www.youtube.com/channel/UCjG5GMDl0_p1xpsUSyWCVEw" title="Cibaria Youtube" rel="nofollow"><img src="<?php echo Mage::getBaseUrl() . "images/youtube.gif" ?>" alt="youtube"/></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer_nav" class="s_row">
                <div class="s_wrap">
                    <div class="s_col_3">
                        <h2 class="s_main_color">Information</h2>
                        <ul class="s_list_1">
                            <li><a href="<?php echo Mage::getBaseUrl() . "aboutus "; ?>" title="About Us">About Us</a></li>
                            <li><a href="<?php echo Mage::getBaseUrl() . "shipping_returns/ " ?>" title="Shipping and Returns">Shipping/Returns</a></li>
                            <li><a href="<?php echo Mage::getBaseUrl() . "terms/ "; ?>" rel="nofollow" title="Terms">Terms</a></li>
                            <li><a href="<?php echo Mage::getBaseUrl() . "catalog/seo_sitemap/category/ "; ?>" title="Sitemap">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="s_col_3">
                        <h2 class="s_main_color">Websites</h2>
                        <ul class="s_list_1">
                            <li><a href="https://www.cibaria-intl.com" title="Cibaria International">Cibaria International</a></li>
                            <li><a href="http://www.cibariastoresupply.com" title="Cibaria Store Supply">Cibaria Store Supply</a></li>
                        </ul>
                    </div>
                    <div class="s_col_3">
                        <h2 class="s_main_color">My Account</h2>
                        <ul class="s_list_1">
                            <li><a href="<?php echo Mage::getBaseUrl() . "customer/account/ "; ?>" rel="nofollow" title="login">Login</a></li>
                            <li><a href="<?php echo Mage::getBaseUrl() . "sales/order/history/ "; ?>" rel="nofollow" title="Order History">Order History</a></li>
                            <li><a href="<?php echo Mage::getBaseUrl() . "checkout/cart/ "; ?> "rel="nofollow" title="Shopping Cart">Shopping Cart</a></li>
                            <li><a href="<?php echo Mage::getBaseUrl() . "wishlist "; ?>" rel="nofollow" title="Wish List">Wish List</a></li>
                        </ul>
                    </div>
                    <div class="s_col_3">
                        <h2 class="s_main_color">Customer Service</h2>
                        <ul class="s_list_1">
                            <li><a href="<?php echo Mage::getBaseUrl() . "contacts/ "; ?>" rel="nofollow" title="Contact Us">Contact Us</a></li>
                            <li><a href="<?php echo Mage::getBaseUrl() . "faq/ "; ?>" rel="nofollow" title="FAQ">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="s_col_12 border_eee"></div>
                </div>
            </div>
            <div id="footer" class="s_wrap">
                <center>
                    <a href="<?php echo Mage::getBaseUrl() . "sustainable-soap-making-oil "; ?>" title="Sustainable Soap Making Oils">
                    <img src="<?php echo Mage::getBaseUrl() . "certs/Soap-Making-Oil.png" ?>" alt="Sustainable Soap Making Oils" width="75" height="75"/></a>
                    <img src="<?php echo Mage::getBaseUrl() . "certs/wbenc.png " ?>" alt="Womens Business Enterprise National Council" />
                    <img src="<?php echo Mage::getBaseUrl() . "certs/organic.png " ?>" alt="USDA Organic Certification" />&nbsp;&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/OUlogo.png " ?>" width="75" height="75" alt="Orthodox Union Certification" />&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/AFOA_Logo.png " ?>" width="75" height="75" alt="American Fats and Oils Association" />&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/silliker.png " ?>" alt="Siliker Global Certification" /><img src="<?php echo Mage::getBaseUrl() . "certs/aocs.png " ?>" width="130" height="41" alt="American Oil Chemists Society Certification" />
                </center>
                <div id="copy">&copy; Copyright
                    <?php echo Date("Y"); ?>. Cibaria International, Inc.</div>
                <div class="clear"></div>
            </div>
            <?php echo $this->getAbsoluteFooter() ?>
    </div>
</body>

</html>