<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">

<head>

    <?php echo $this->getChildHtml('head') ?>

</head>

<body class="s_layout_fixed s_2_cols s_page_product_category">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30465466-3', 'auto');
  ga('send', 'pageview');

</script>
<div  id="wrapper">
    <!--header-->
    <?php echo $this->getChildHtml('header') ?>

    <div id="intro">
        <div id="intro_wrap">
            <div class="s_wrap">
                <div id="breadcrumbs" class="s_col_12">
                    <?php echo $this->getChildHtml('breadcrumbs') ?>
                </div>
                <h1>
                    <?php

                    if(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Oils"){

                        echo MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() . " For Soap Making";

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Butters"){

                        echo MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() . " For Soap Making";

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Oils"){

                        echo "Organic Soap Making Oils" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Default Category"){

                        echo " " ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Almond Oil"){

                        echo "Almond Oil for Soap Making " ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Apricot Kernel Oil"){

                        echo "Apricot Kernel Oil for Soap Making " ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Avocado Oil"){

                        echo "Avocado Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Babassu Oil"){

                        echo "Babassu Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Canola Oil"){

                        echo "Canola Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Castor Oil"){

                        echo "Castor Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Cocoa Butter"){

                        echo "Cocoa Butter for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Coconut Oil"){

                        echo "Coconut Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Cottonseed Oil"){

                        echo "Cottonseed Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Shea Butter"){

                        echo "Shea Butter for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Jojoba Oil"){

                        echo "Organic Jojoba Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Extra Virgin Olive Oil"){

                        echo "Extra Virgin Olive Oil" . "<br />" . "for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Canola Oil"){

                        echo "Organic Canola Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Flaxseed Oil"){

                        echo "Flaxseed Oil for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Extra Virgin Olive Oil"){

                        echo "Organic Extra Virgin Olive Oil" . "<br />" . "for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Palm Kernel Oil"){

                        echo "Organic Palm Kernel Oil" . "<br />" . "for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Shea Butter"){

                        echo "Organic Shea Butter" . "<br />" . "for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Soybean Oil"){

                        echo "Organic Soybean Oil" . "<br />" . "for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Sunflower Oil"){

                        echo "Organic Sunflower Oil" . "<br />" . "for Soap Making" ;

                    }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Virgin Coconut Oil"){

                        echo "Organic Virgin Coconut Oil" . "<br />" . " for Soap Making" ;

                    } else{
                        echo MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName();
                    }
                    ?>
                </h1>
            </div>
        </div>
    </div>

    <div id="content" class="s_wrap">
    <div id="main" class="s_main_col">
        <?php echo $this->getChildHtml('content') ?>&nbsp;
    </div>
    <!-- end center -->



    <!-- start right -->
        <div id="right_col" class="s_side_col">
    <div class="col-right side-col">

        <?php echo $this->getChildHtml('right') ?>&nbsp;

    </div>
            </div>

    <!-- end right -->



</div>

</div>

<!-- end middle -->



<!-- start footer -->

<div id="shop_info" class="s_row">
    <div id="shop_info_wrap" class="s_row">
        <div class="s_wrap">
            <div id="shop_description" class="s_col_3">
                <h2>Cibaria Soap Supply</h2>

                <p>Cibaria Soap Supply is one of the few places where you can buy soap making oils and butters in bulk online. Quality is our first priority which is why Cibaria conducts a yearly independent audit.</p>
            </div>
            <div id="shop_contacts" class="s_col_5">
                <table cellpadding="5" cellspacing="5">
                    <tr>
                        <td><img src="<?php echo Mage::getBaseUrl() . "images/telephone.gif" ?>" alt="" width="75"/></td>
                        <td>(951) 823-8490</td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td><img src="<?php echo Mage::getBaseUrl() . "images/email.gif" ?>" alt="" width="75"/></td>
                        <td>customerservice@cibaria-intl.com</td>
                    </tr>

                    <tr>
                        <td><img src="<?php echo Mage::getBaseUrl(). "images/address.gif"; ?>" alt="" width="75"/></td>
                        <td>1203 Hall Ave.<br />Riverside, CA 92509</td>

                    </tr>
                </table>
            </div>

            <div id="facebook" class="s_col_3">
                <table>
                    <tr>
                        <td><img src="<?php echo Mage::getBaseUrl() ."images/facebook.gif" ?>" alt=""/></td>
                        <td><img src="<?php echo Mage::getBaseUrl() ."images/blog.gif" ?>" alt=""/></td>
                    </tr>
                    <tr>
                        <td><img src="<?php echo Mage::getBaseUrl() . "images/twitter.gif" ?>" alt=""/></td>
                        <td><img src="<?php echo Mage::getBaseUrl() . "images/youtube.gif" ?>" alt=""/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="footer_nav" class="s_row">
    <div class="s_wrap">
        <div class="s_col_3">
            <h2 class="s_main_color">Information</h2>
            <ul class="s_list_1">
                <li><a href="<?php echo Mage::getBaseUrl() . "aboutus/"; ?>">About Us</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "shipping_returns"; ?>">Shipping/Returns</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "terms/"; ?>">Terms</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "contacts/"; ?>">Contact Us</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "faq/"; ?>">FAQ</a></li>
            </ul>
        </div>
        <div class="s_col_3">
            <h2 class="s_main_color">Websites</h2>
            <ul class="s_list_1">
                <li><a href="http://cibaria-intl.com">Cibaria International</a></li>
                <li><a href="http://cibariastoresupply.com">Cibaria Store Supply</a></li>
            </ul>
        </div>
        <div class="s_col_3">
            <h2 class="s_main_color">My Account</h2>
            <ul class="s_list_1">
                <li><a href="<?php echo Mage::getBaseUrl() . "customer/account/"; ?>" rel="nofollow">Login</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "sales/order/history/"; ?>">Order History</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "checkout/cart/"; ?> "rel="nofollow">Shopping Cart</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "wishlist"; ?>" rel="nofollow">Wish List</a></li>
            </ul>
        </div>
        <div class="s_col_3">
            <h2 class="s_main_color">Customer Service</h2>
            <ul class="s_list_1">
                <li><a href="<?php echo Mage::getBaseUrl() . "contacts/"; ?>" rel="nofollow">Contact Us</a></li>
                <li><a href="<?php echo Mage::getBaseUrl() . "faq/"; ?>" rel="nofollow">FAQ</a></li>
            </ul>
        </div>
        <div class="s_col_12 border_eee"></div>
    </div>
</div>
<!--			end footer nav-->

<div id="footer" class="s_wrap">
     <center>

                    <a href="<?php echo Mage::getBaseUrl() . "sustainable-soap-making-oil"; ?>" title="Sustainable Soap Making Oils">
                    <img src="<?php echo Mage::getBaseUrl() . "certs/Soap-Making-Oil.png" ?>" alt="Sustainable Soap Making Oils" width="75" height="75"/></a>
                    <img src="<?php echo Mage::getBaseUrl() . "certs/wbenc.png" ?>" alt="Womens Business Enterprise National Council"/>
                    <img src="<?php echo Mage::getBaseUrl() . "certs/organic.png" ?>" alt="USDA Organic Certification" />&nbsp;&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/OUlogo.png" ?>" width="75" height="75" alt="Orthodox Union Certification"/>&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/AFOA_Logo.png" ?>" width="75" height="75" alt="American Fats and Oils Association"/>&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/silliker.png" ?>" alt="Siliker Global Certification"/><img src="<?php echo Mage::getBaseUrl() . "certs/aocs.png" ?>" width="130" height="41" alt="American Oil Chemists Society Certification"/>

                </center>

    <div id="copy">&copy; Copyright <?php echo Date("Y"); ?>. Cibaria International</div>

<!--    <div id="payments_types" class="clearfix">-->
<!--        <img src="--><?php //echo Mage::getBaseUrl() . "images/paypal_straight_32px.png"; ?><!--"/>-->
<!--        <img src="--><?php //echo Mage::getBaseUrl() . "images/visa_straight_32px.png"; ?><!--"/>-->
<!--        <img src="--><?php //echo Mage::getBaseUrl() . "images/discover_straight_32px.png"; ?><!--"/>-->
<!--    </div>-->

    <div class="clear"></div>
</div>
<!-- end footer -->
<!-- end footer -->



<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</div>

</body>

</html>