<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body class="s_layout_fixed s_2_cols s_page_product_category">
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-30465466-3', 'auto');
    ga('send', 'pageview');
    </script>
    <div id="wrapper">
        <!--header-->
        <?php echo $this->getChildHtml('header') ?>
        <div id="intro">
            <div id="intro_wrap">
                <div class="s_wrap">
                    <div id="breadcrumbs" class="s_col_12">
                        <?php echo $this->getChildHtml('breadcrumbs') ?>
                    </div>
                    <h1>
                <?php
                if(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Oils"){
                    echo "Wholesale " . MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() . " For Soap Making";
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Butters"){
                    echo "Wholesale " . MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() . " For Soap Making";
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Oils"){
                    echo "Wholesale Organic Soap Making Oils" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Default Category"){
                    echo " " ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Almond Oil"){
                    echo "Wholesale Almond Oil for Soap Making " ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Apricot Kernel Oil"){
                    echo "Wholesale Apricot Kernel Oil for Soap Making " ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Avocado Oil"){
                    echo "Wholesale Avocado Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Babassu Oil"){
                    echo "Wholesale Babassu Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Canola Oil"){
                    echo "Wholesale Canola Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Castor Oil"){
                    echo "Wholesale Castor Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Cocoa Butter"){
                    echo "Wholesale Cocoa Butter for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Coconut Oil"){
                    echo "Wholesale Coconut Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Cottonseed Oil"){
                    echo "Wholesale Cottonseed Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Shea Butter"){
                    echo "Wholesale Shea Butter for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Jojoba Oil"){
                    echo "Wholesale Organic Jojoba Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Extra Virgin Olive Oil"){
                    echo "Wholesale Extra Virgin Olive Oil" . "<br />" . "for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Canola Oil"){
                    echo "Wholesale Organic Canola Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Flaxseed Oil"){
                    echo "Wholesale Flaxseed Oil for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Extra Virgin Olive Oil"){
                    echo "Wholesale Organic Extra Virgin Olive Oil" . "<br />" . "for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Palm Kernel Oil"){
                    echo "Wholesale Organic Palm Kernel Oil" . "<br />" . "for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Shea Butter"){
                    echo "Wholesale Organic Shea Butter" . "<br />" . "for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Soybean Oil"){
                    echo "Wholesale Organic Soybean Oil" . "<br />" . "for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Sunflower Oil"){
                    echo "Wholesale Organic Sunflower Oil" . "<br />" . "for Soap Making" ;
                }elseif(MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName() == "Organic Virgin Coconut Oil"){
                    echo "Wholesale Organic Virgin Coconut Oil" . "<br />" . " for Soap Making" ;
                } else{
                    echo MAGE::getSingleton('Mage_Catalog_Block_Navigation')->getCurrentCategory()->getName();
                }
                ?>
            </h1>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml('global_messages') ?>
        <div id="content" class="s_wrap">
            <div id="main" class="s_main_col">
                <?php echo $this->getChildHtml('content') ?>
            </div>


            <div id="right_col" class="s_side_col">
                <div class="col-right side-col">
                    <h2>Categories</h2>
                    <div class="s_list_1">
                        <ul>
                            <?php
                $category = Mage::getSingleton('catalog/layer')->getCurrentCategory();
                $categories = $category->getCollection()
                    ->addAttributeToSelect(array('name', 'thumbnail'))
                    ->addAttributeToFilter('is_active', 1)
                    ->addAttributeToSort('name', 'ASC')
                ->addIdFilter($category->getChildren());

                ?>
                                <?php foreach($categories as $index) { ?>
                                <li><a href="<?php echo $index->getUrl(); ?>" title="<?php echo $index->getName(); ?>"><?php echo $index->getName(); ?></a></li>
                                <?php } ?>
                        </ul>
                    </div>
                </div>
                <div class="s_box clearfix">
                    <h2>Featured</h2>
                    <?php
            $featured = Mage::getModel('catalog/category')->load(219);  // YOU NEED TO CHANGE 5 TO THE ID OF YOUR CATEGORY
            $featured = $featured->getProductCollection();
            foreach($featured->getAllIds() as $featured_product)
            {
                $_product = Mage::getModel('catalog/product')->load($featured_product); ?>
                        <div class="s_size_1 clearfix product_43">
                            <a class="s_thumb" href="<?php echo $_product->getProductUrl(); ?>">
                    <img src="<?php echo $_product->getImageUrl(); ?>" alt="<?php echo $_product->getName(); ?>" width="75px" height="59px"/>
                </a>
                            <h3 style="font-size:12px; font-weight:bold;"><a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?></a></h3>
                            <p>
                                <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>">
                        <span class="s_main_color">$<?php echo money_format('%i', $_product->getPrice()); ?></span>
                    </a>
                            </p>
                            <?php } ?>
                        </div>
                </div>
                <div id="information_module" class="s_box">
                    <h2>Information</h2>
                    <ul class="s_list_1">
                        <li><a href="<?php echo Mage::getBaseUrl() . "aboutus/ "; ?>" title="About Us">About Us</a></li>
                        <li><a href="<?php echo Mage::getBaseUrl() . "shipping_returns "; ?>" title="Shipping and Returns">Shipping/Returns</a></li>
                        <li><a href="<?php echo Mage::getBaseUrl() . "terms/ "; ?>" title="terms" rel="nofollow">Terms</a></li>
                        <li><a href="<?php echo Mage::getBaseUrl() . "contacts/ "; ?>" title="Contact Us" rel="nofollow">Contact Us</a></li>
                        <li><a href="<?php echo Mage::getBaseUrl() . "faq/ "; ?>" title="FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>


    <div id="shop_info" class="s_row">
        <div id="shop_info_wrap" class="s_row">
            <div class="s_wrap">
                <div id="shop_description" class="s_col_3">
                    <h2>About Us</h2>
                        <p>Cibaria Soap Supply sells a wide array soap making products from Almond Oil, Apricot Oil, Extra Virgin Olive Oil to Shea Butter and Organic Soap Making Oils. If you're looking for soap making oils and butters at wholesale prices, Cibaria International is your supplier of fine oils and butters for soap making. </p>
                </div>
                <div id="shop_contacts" class="s_col_5">
                    <table cellpadding="5" cellspacing="5">
                        <tr>
                            <td><img src="<?php echo Mage::getBaseUrl() . "images/telephone.gif " ?>" alt="telephone" width="75" /></td>
                            <td>(951) 823-8490</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td><img src="<?php echo Mage::getBaseUrl() . "images/email.gif " ?>" alt="email" width="75" /></td>
                            <td>customerservice@cibaria-intl.com</td>
                        </tr>
                        <tr>
                            <td><img src="<?php echo Mage::getBaseUrl(). "images/address.gif "; ?>" alt="address" width="75" /></td>
                            <td>705 Columbia Ave.
                                <br />Riverside, CA 92507</td>
                        </tr>
                    </table>
                </div>
                <div id="facebook" class="s_col_3">
                    <table>
                        <tr>
                            <td><a href="https://www.facebook.com/soapoil/" title="Cibaria Soap Supply on Facebook" rel="nofollow"><img src="<?php echo Mage::getBaseUrl() ."images/facebook.gif" ?>" alt="Cibaria Soap Supply on Facebook"/></a></td>
                            <td><a href="https://www.cibaria-intl.com/blog" title="Cibaria International Blog"><img src="<?php echo Mage::getBaseUrl() ."images/blog.gif" ?>" alt="Cibaria International blog"/></a></td>
                        </tr>
                        <tr>
                            <td><a href="https://twitter.com/cibariasoapoil" title="Cibaria Soap Supply Twitter" rel="nofollow"><img src="<?php echo Mage::getBaseUrl() . "images/twitter.gif" ?>" alt="twitter"/></a></td>
                            <td><a href="https://www.youtube.com/channel/UCjG5GMDl0_p1xpsUSyWCVEw" title="Cibaria Youtube" rel="nofollow"><img src="<?php echo Mage::getBaseUrl() . "images/youtube.gif" ?>" alt="youtube"/></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="footer_nav" class="s_row">
        <div class="s_wrap">
            <div class="s_col_3">
                <h2 class="s_main_color">Information</h2>
                <ul class="s_list_1">
                    <li><a href="<?php echo Mage::getBaseUrl() . "aboutus "; ?>" title="About Us">About Us</a></li>
                    <li><a href="<?php echo Mage::getBaseUrl() . "shipping_returns/ " ?>" title="Shipping and Returns">Shipping/Returns</a></li>
                    <li><a href="<?php echo Mage::getBaseUrl() . "terms/ "; ?>" title="terms" rel="nofollow">Terms</a></li>
                    <li><a href="<?php echo Mage::getBaseUrl() . "catalog/seo_sitemap/category/ "; ?>" title="sitemap">Sitemap</a></li>
                </ul>
            </div>
            <div class="s_col_3">
                <h2 class="s_main_color">Websites</h2>
                <ul class="s_list_1">
                    <li><a href="https://www.cibaria-intl.com" title="Cibaria International">Cibaria International</a></li>
                    <li><a href="http://www.cibariastoresupply.com" title="Wholesale Olive Oils">Wholesale Olive Oils</a></li>
                </ul>
            </div>
            <div class="s_col_3">
                <h2 class="s_main_color">My Account</h2>
                <ul class="s_list_1">
                    <li><a href="<?php echo Mage::getBaseUrl() . "customer/account/ "; ?>" title="login" rel="nofollow">Login</a></li>
                    <li><a href="<?php echo Mage::getBaseUrl() . "sales/order/history/ "; ?>" title="Order History" rel="nofollow">Order History</a></li>
                    <li><a href="<?php echo Mage::getBaseUrl() . "checkout/cart/ "; ?>" title="Shopping Cart" rel="nofollow">Shopping Cart</a></li>
                    <li><a href="<?php echo Mage::getBaseUrl() . "wishlist "; ?>" rel="nofollow" title="Wish List">Wish List</a></li>
                </ul>
            </div>
            <div class="s_col_3">
                <h2 class="s_main_color">Customer Service</h2>
                <ul class="s_list_1">
                    <li><a href="<?php echo Mage::getBaseUrl() . "contacts/ "; ?>" rel="nofollow" title="Contact Us">Contact Us</a></li>
                    <li><a href="<?php echo Mage::getBaseUrl() . "faq/ "; ?>" rel="nofollow" title="FAQ">FAQ</a></li>
                </ul>
            </div>
            <div class="s_col_12 border_eee"></div>
        </div>
    </div>
    <div id="footer" class="s_wrap">
        <center>
            <a href="<?php echo Mage::getBaseUrl() . "sustainable-soap-making-oil "; ?>" title="Sustainable Soap Making Oils">
                    <img src="<?php echo Mage::getBaseUrl() . "certs/Soap-Making-Oil.png" ?>" alt="Sustainable Soap Making Oils" width="75" height="75"/></a>
            <img src="<?php echo Mage::getBaseUrl() . "certs/wbenc.png " ?>" alt="Womens Business Enterprise National Council" />
            <img src="<?php echo Mage::getBaseUrl() . "certs/organic.png " ?>" alt="USDA Organic Certification" />&nbsp;&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/OUlogo.png " ?>" width="75" height="75" alt="Orthodox Union Certification" />&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/AFOA_Logo.png " ?>" width="75" height="75" alt="American Fats and Oils Association" />&nbsp;<img src="<?php echo Mage::getBaseUrl() . "certs/silliker.png " ?>" alt="Siliker Global Certification" /><img src="<?php echo Mage::getBaseUrl() . "certs/aocs.png " ?>" width="130" height="41" alt="American Oil Chemists Society Certification" />
        </center>
        <div id="copy">&copy; Copyright
            <?php echo Date("Y"); ?>. Cibaria International</div>
        <div class="clear"></div>
    </div>
    <?php echo $this->getChildHtml('before_body_end') ?>
    <?php echo $this->getAbsoluteFooter() ?>
    </div>
</body>
</html>