
html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	/*background-image: url(../images/body-bg.png);*/
	background-repeat: repeat;
	background-color: #fff;
	color: #666;
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
	padding: 0px;
}
::selection {
	background: #FE57A1;
	color: #fff;
	text-shadow: none;
}
body, td, th, input, textarea, select, a {
	font-size: 14px;
}
h1 {
	color: #666;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: normal;
}
.link-feed{
	display:none;
}
h2 {
	font-size: 14px;
}
p {
	margin-top: 0px;
	line-height: 19px;
}
a, a:visited, a b {
	color: #CE347E;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a img {
	/* border: none; */
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #fff;
	border: 1px solid #D6DBDF;
	padding: 3px;
	margin: 5px 0 5px 0;
	color: #666;
}
textarea {
	width: 97% !important;
}
select {
	background: #F8F8F8;
	border: 1px solid #D6DBDF;
	padding: 2px;
	margin-top: 5px;
	color: #666;
}
label {
	cursor: pointer;
}

/* Begin layout */
#container-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
#container {
	background: #fff;
	padding: 14px 15px 0 15px;
	margin-bottom: 20px;
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-color: #e1e1e1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#column-left {
	float: left;
	width: 215px;
	margin: 0 0 30px 0;
	border-right: 1px dotted #ccc;
}
#column-right {
	float: right;
	width: 215px;
	margin: 0 0 30px 0;
	border-left: 1px dotted #ccc;
}
#content {
	padding: 0 0 15px 0;
}
#column-left + #column-right + #content {
	margin-left: 234px;
	margin-right: 234px;
}
#column-right + #content {
	margin-right: 234px;
}
#column-left + #content {
	margin-left: 234px;
}
/* End layout */

/* Begin currency-language dropdown */
#language {
	position: absolute;
	top: 0px;
	right: 436px;
	width: auto;
	text-align: left;
	z-index: 9999;
}
#language img {
	cursor: pointer;
}
#language a {
	display: block;
	padding: 4px 5px 4px 30px; 
	color: #666;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;	
	white-space:nowrap;
	font-size: 12px;	
}
#language a:hover {
	color: #CE347E;
}
#language-options {
	border-top: 1px solid #eee;
	margin: 0 2px;
	padding-top: 2px;
}
#language-switcher {
	background: #fff;
	border: 1px solid #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;	
}
.language-selected {
	display: block;
	line-height: 17px;
	padding: 4px 7px 3px 7px;
	color: #666;
	text-decoration: none;
	cursor: pointer;
	margin-right: 7px;
	margin-bottom: 2px;	
	background: url('../images/arrow-down-small.png') 100% 60% no-repeat;
}
.language-selected img{
	float:left; 
	margin: 3px 6px 0 0;	
}

#currency {
	position: absolute;
	width: auto;
	top: 0px;
	right: 298px;
	text-align: left;
	z-index: 9999;
}
#currency a {
	display: block;
	padding: 4px 6px;
	color: #666;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;	
	white-space:nowrap;
	font-size: 12px;	
}
#currency a:hover {
	color: #CE347E;
}
#currency-options {
	border-top: 1px solid #eee;
	margin: 0 2px;
	padding-top: 2px;
}
#currency-switcher {
	background: #fff;
	border: 1px solid #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;	
}
.currency-selected {
	display: block;
	line-height: 17px;
	padding: 4px 16px 3px 6px;
	color: #666;
	text-decoration: none;
	cursor: pointer;
	margin-right: 7px;
	margin-bottom: 2px;	
	background: url('../images/arrow-down-small.png') 100% 60% no-repeat;
}
#currency a b {
	color: #666;
	text-decoration: none;
}
/* End currency-language dropdown */

/* header */
#header-area {
    background: transparent url("../images/header_top_container_bg.jpg") repeat-x scroll 0% 0%;
    padding-top: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #E2E2E2;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#header-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	height: 180px;
	position: relative;
}
#header #logo {
    padding-left:150px;
    margin-left: auto;
    margin-right: auto
}

.top-header-main{
    background-color: black;
    height:40px;
}

/* Begin header cart */
#header #cart {
	position: absolute;
	top: 43px;
	right: 0;
	z-index: 999;
	min-width: 300px;
}
#header #cart .heading {
	text-align: right;
}
#header #cart .heading h4 {
	margin: 0;
}
#header #cart .heading a {
	color: #819C45;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	padding: 7px 30px 7px 5px;
	background: url(../images/cart-black.png) 100% 50% no-repeat;
}
#header #cart .heading a span {
	background: none;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	background: #FFF;
	padding: 8px;
	min-height: 150px;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#header #cart.active .heading {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 6px;
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px dashed #ddd;
}
.mini-cart-info td a {
	color: #666;
	font-weight: bold;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	padding: 2px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
}
#header #cart .checkout a {
	background-image: url(../images/button-bg.png);
	background-repeat: repeat;
	background-color: #F8F8F8;
	border: none;
	padding: 6px 10px;
	margin-left: 10px;
	color: #555;
	text-decoration: none;
	cursor: pointer;
	line-height: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#header #cart .checkout a:hover {
	background-image: url(../images/button-hover-bg.png);
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
/* End header cart */

/* Begin header search */
#header #search {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#header .button-search {
	position: absolute;
	top: 0;
	right: 0;
	background: url('../images/button-search.png') center center no-repeat;
	width: 32px;
	height: 28px;
	cursor: pointer;
}
#header #search input {
	padding: 1px 30px 1px 5px;
	margin: 0;
	width: 250px;
	height: 24px;
	border: 1px solid #e6e6e6;
	color: #999;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/* End header search */

/* Begin header welcome */
#header #welcome {
	position: absolute;
	bottom: 15px;
	right: 2px;
	z-index: 5;
	width: auto;
	text-align: right;
	font-size: 12px;
	color: #999;
}
#header #welcome a {
	color: #CE347E;
}
/* End header welcome */

/* Begin header links */
#header .links {
	position: absolute;
	right: 200px;
	top: 43px;
	z-index: 999;
}
#header .links-mobile {
	display: none;
}
#header .links a {
	display: block;
	float: left;
	font-size: 12px;
	color: #666;
	background: url(../images/arrow-right-small.png) 0 50% no-repeat;
	padding-left: 8px;
}
#header .links a:hover {
	text-decoration: underline;
}
#header .links a + a {
	margin-left: 10px;
}
.text-home {
	display: none;
}
/* End header links */

/* Begin menu */
#menu-area {
}
#menu-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#menu-mobile {
	display: none;
}
#menu {
	height: 40px;
	/*background-image: url(../images/menu-bg.png);*/
	background-repeat: repeat;
	background-color: black;
	/*-webkit-border-radius: 4px;*/
	/*-moz-border-radius: 4px;*/
	/*-khtml-border-radius: 4px;*/
	/*border-radius: 4px;*/
}
.menu-home-link a {
	background: url(../images/home.png) 50% 45% no-repeat;
	width: 25px;
	height: 40px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	background: url(../images/menu-split.png) right no-repeat;
}
#menu > ul > li:hover {
}
#menu > ul > li > a {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	line-height: 40px;
	padding: 0px 12px 0px 10px;
	position: relative;
	text-decoration: none;
	text-shadow: 0px -1px 0px #000;
	z-index: 6;
}
#menu > ul > li:hover > a {
	color: #cacaca;
	}
#menu > ul > li > div {
	position: absolute;
	display: none;
	overflow: hidden;
	z-index: 5;
	background-image: url(../images/footer-shadow.png);
	background-repeat: repeat-x;
	background-color: #444;
	border-width: 1px;
	border-style: solid;
	border-color: #3A3A3A;
	border-top: none;
	padding: 10px 10px 7px 10px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	font-size: 13px;
	background: url(../images/arrow-right-small-white.png) left 10px no-repeat;
	padding: 5px 5px 5px 9px;
	color: #fff;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	color: #cacaca;
}
#menu > ul > li > div > ul > li > a {
	color: #fff;
}
/* End menu */

/* Begin slider shadow */
.slider-shadow {
	height: 20px;
	/*background: url(../images/slider-shadow.png) top center no-repeat;*/
	margin: 0 -15px 0 -15px;
	padding-bottom: 15px;
}
/* End slider shadow */

/* Begin breadcrumb */
.breadcrumb {
	color: #ccc;
	margin: 0 0 25px 0;
}
.breadcrumb a {
	color: #888;
}
/* End breadcrumb */

/* Begin notice */
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin: 15px 0 15px 0;
	color: #666;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.success a, .warning a, .attention a, .information a {
	color: #CE347E;
}
.success {
	background: #F4FAED 10px center no-repeat;
	border: 1px solid #E0EBD3;
}
.warning {
	background: #FFD1D1 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC  10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
/* End notice */

.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #EE4848;
}
.help {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	max-width: 100%;
}
table.list {
	background: #fff;
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
table.list thead td {
	background-color: #f3f3f3;
	padding: 0px 5px;
	color: #666;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: top;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}

/* Begin pagination */
.pagination-top {
	display: inline-block;
	width: 100%;
	padding-top: 20px;
}
.pagination-bottom {
	display: inline-block;
	width: 100%;
	padding-bottom: 30px;
}
.pagination-top .links, .pagination-bottom .links {
	float: left;
}
.pagination-top .links a, .pagination-bottom .links a {
	display: inline-block;
	background: #eee;
	padding: 3px 8px;
	text-decoration: none;
	color: #888;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.pagination-top .links a:hover, .pagination-bottom .links a:hover {
	color: #666;
	background: #eee;
}
.pagination-top .links b, .pagination-bottom .links b {
	display: inline-block;
	background: #d6d6d6;
	padding: 3px 8px;
	font-weight: normal;
	text-decoration: none;
	color: #666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.pagination-top .results, .pagination-bottom .results {
	float: right;
	padding-top: 3px;
}
/* End pagination */

/* button */
a.button {
	background-image: url(../images/button-bg.png);
	background-repeat: repeat;
	background-color: #F8F8F8;
	border: none;
	padding: 5px 10px;
	color: #555;
	text-decoration: none;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
input.button {
	background-image: url(../images/button-bg.png);
	background-repeat: repeat;
	background-color: #F8F8F8;
	border: none;
	padding: 4px 10px;
	color: #555;
	text-decoration: none;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
a.button:hover, input.button:hover {
	background-image: url(../images/button-hover-bg.png);
}
input.button-product-page {
	background-color: #E6348A;
	border: none;
	padding: 6px 20px;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	line-height: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
input.button-product-page:hover {
	background-image: url(../images/button-product-hover-bg.png);
}
input.button-product {
	/*background-image: url(../images/button-product-bg.png);*/
	background-repeat: repeat;
	background-color: #E6348A;
	border: none;
	padding: 4px 10px;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
	line-height: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
input.button-product:hover {
	background-image: url(../images/button-product-hover-bg.png);
}
.buttons {
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 36px;
	line-height: 16px;
	border-bottom: 1px solid #e0e0e0;
}
.htabs a {
	background: #eee;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 10px 15px 10px 15px;
	margin-right: 5px;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #666;
}
.htabs a.selected {
	padding-bottom: 10px;
	background: #e2e2e2;
	border-top: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.tab-description2, .tab-attribute2, .tab-review2, .tab-related2 {
}
.tab-content {
	padding: 0px 0 15px 0;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 25px;
	z-index: 2;
}
.tab-content ul {
	line-height: 19px;
}
#captcha {
	margin-top: 10px;
}
.tags {
	background: url(../images/tags.png) left center no-repeat;
	padding: 5px 5px 5px 25px;
	margin-bottom: 20px;
}

/* Begin welcome */
.welcome {
	display: none;
}
.welcome-message {
	padding: 0 0 15px 0;
}
#column-left .welcome-message {
	padding: 0 15px 10px 0;
}
#column-right .welcome-message {
	padding: 0 15px 10px 15px;
}
/* End welcome */

/* BEGIN BOX */
.box {
	padding-bottom: 15px;
}
.box hr {
	border:1px dotted lightgrey;
}
/* Begin box heading */
.box .box-heading {
	font-size: 16px;
	text-align: left;
	color: #fff;
	margin: 5px 0 0 -16px;
}
.box .box-heading span {
	/*background-image: url(../images/default.png);*/
	background-position:  8px center;
	background-repeat: no-repeat;
	background-color: #64757E;
	padding: 5px 8px 5px 26px;
	border-left: 1px dotted #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-shadow: 2px 2px 0px 0 #E4E4E4;
	-moz-box-shadow: 2px 2px 0px 0 #E4E4E4;
	box-shadow: 2px 2px 0px 0 #E4E4E4;
}
.box .box-heading .account {
	/*background-image: url(../images/account2.png);*/
	background-position:  5px center;
	background-repeat: no-repeat;
	background-color: #EE8448;
}
.box .box-heading .category {
	/*background-image: url(../images/category.png);*/
	background-position:  8px center;
	background-repeat: no-repeat;
	background-color: #A34ABC;
}
.box .box-heading .info {
	/*background-image: url(../images/info2.png);*/
	background-position:  5px center;
	background-repeat: no-repeat;
	background-color: #A36BC9;
}
.box .box-heading .latest{
	/*background-image: url(../images/latest.png);*/
	background-position:  7px center;
	background-repeat: no-repeat;
	background-color: purple;
}
.box .box-heading .featured {
	/*background-image: url(../images/featured.png);*/
	background-position:  8px center;
	background-repeat: no-repeat;
	background-color: orange;
}
.box .box-heading .specials {
	/*background-image: url(../images/star.png);*/
	background-position:  5px center;
	background-repeat: no-repeat;
	background-color: #AAD55E;
}
.box .box-heading .bestsellers {
	/*background-image: url(../images/sun.png);*/
	background-position:  5px center;
	background-repeat: no-repeat;
	background-color: #F7B42C;
}
#column-right .box .box-heading {
	margin-left: -1px;
}
#column-left + #content .box .box-heading,
#column-left + #column-right + #content .box .box-heading {
	margin-left: 0;
}
/* End box heading */

.box .box-content {
	margin-top: 25px;
	text-align: left !important;
}
#column-right .box .box-content {
	margin-left: 15px;
}
.affiliate > ul {
	line-height: 20px;
	list-style: none;
	padding: 0;
}
.affiliate > ul li {
	background: url('../images/arrow-right-small.png') left 7px no-repeat;
	padding-left: 8px;
	color: #666;
	font-size: 13px;
}
.affiliate > ul li a {
	color: #666;
	font-size: 12px;
}
.box-account-content, .box-information-content {
	margin-top: 20px;
}
#column-right .box-account-content, #column-right .box-information-content {
	margin-left: 15px;
}
.box-account-content ul, .box-information-content ul {
	list-style-type: none;
	padding: 3px 15px 0 0;
	line-height: 22px;
}
.box-account-content ul li, .box-information-content ul li {
	background: url(../images/arrow-right-small.png) left 10px no-repeat;
	padding-left: 8px;
}
.box-account-content ul li a, .box-information-content ul li a {
	color: #666;
	font-size: 12px;
}

/* Begin middle column content  */
#column-left + #column-right + #content .box-product > div {
	width: 222px;
	margin-left: 8px;
	margin-right: 7px;
}
/* End middle column content  */

/* Begin box-product */
.box-product {
	width: 100%;
}
.box-product > div {
	position: relative;
	width: 222px;
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 15px;
	text-align: left;
}
.box-product .boxgrid {
	position: relative;
	overflow: hidden;
	background: url(../images/noimage.gif) center no-repeat;
	/*height: 160px;*/
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.box-product .image {
	 display: block; 
	 /*height: 140px; */
	 overflow: hidden; 
	 text-align: center;
}
.box-product .image img {
	 padding: 0; 
	 margin-top: 5PX;
}
.box-product-info {
	position: absolute;
	width: 200px;
	height: 124px;
	top: 155px;
	padding: 10px;
	margin-left: -2px;
	background: #fff;
	z-index: 9;
}
.box-product .rating {
	float: none;
}
#rating-none {
	opacity: 0.5;
	filter: Alpha(opacity=50); /* IE8 and earlier */
}
.box-product .description {
	margin-top: 5px;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
}
.box-product .description a {
	display: block;
	color: #666;
	text-decoration: none;
}
.box-product-info .button-cart {
	position: absolute;
	width: 36px;
	height: 32px;
	right: 10px;
	bottom: 10px;
	background: url(../images/add2.png) 11px -23px no-repeat;
	border: 1px solid #ddd;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .button-cart:hover {
	background: url(../images/add2.png) 11px 9px no-repeat;
}
.box-product-info .more a {
	position: absolute;
	width: 28px;
	height: 24px;
	right: 40px;
	bottom: 10px;
	background: url(../images/eye.png) center -21px no-repeat;
	border: 1px solid #ddd;
	padding: 3px;
	margin-right: 12px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .more a:hover {
	background: url(../images/eye.png) center 9px no-repeat;
}
.box-product-info .wishlist a /* Category box-product only */ {
	position: absolute;
	width: 34px;
	height: 30px;
	right: 94px;
	bottom: 10px;
	background: url(../images/wishlist2.png) 8px -19px no-repeat;
	border: 1px solid #DDD;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .wishlist a:hover /* Category box-product only */ {
	background: url(../images/wishlist2.png) 8px 8px no-repeat;
}
.box-product-info .compare a /* Category box-product only */ {
	position: absolute;
	width: 34px;
	height: 30px;
	right: 136px;
	bottom: 10px;
	background: url(../images/compare2.png) 9px -21px no-repeat;
	border: 1px solid #DDD;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-product-info .compare a:hover /* Category box-product only */ {
	background: url(../images/compare2.png) 9px 8px no-repeat;
}
.box-product .boxgrid-bottom {
	padding-bottom: 20px;
	text-align: center;
	background: url(../images/box-bottom-shadow.png) bottom center no-repeat;
}
.box-product .name {
	margin-top: 10px;
}
.box-product .name a {
	font-size: 13px;
	color: #666;
	text-decoration: none;
}
.box-product .name a:hover {
	text-decoration: underline;
}
.box-product .price {
	display: block;
	color: #CE347E;
	margin-top: 5px;
}
.box-product .price-old {
	color: #bbb;
	font-weight: normal;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: normal;
}
.ribbon-sale {
	position: absolute;
	background: url(../images/ribbon-sale.png) no-repeat;
	width: 50px;
	height: 21px;
	top: 10px;
	left: 3px;
}
/* End box-product */

/* Begin column left and column right box-product */
#column-left .box-product > div {
	width: 200px;
	background: none;
	margin: 0 0 10px 0;
	padding: 0px 0 10px 0;
	border-bottom: 1px dotted #DDD;
}
#column-right .box-product > div {
	width: 200px;
	background: none;
	margin: 0 0 10px 0;
	padding: 0px 0 10px 0;
	border-bottom: 1px dotted #DDD;
}
#column-left .box-product .boxgrid, #column-right .box-product .boxgrid {
	float: left;
	width: 75px;
	height: 50px;
	margin-right: 10px;
	background: url(../images/noimage-small.gif) center no-repeat;
}
#column-left .box-product .image, #column-right .box-product .image {
	display: block;
	float: left;
	width: 75px;
	height: 50px;
	overflow: hidden;
	text-align: center;
}
#column-left .box-product .box-product-info, #column-right .box-product .box-product-info,
#column-left .box-product .ribbon-sale, #column-right .box-product .ribbon-sale {
	display: none;
}
#column-left .box-product .boxgrid-bottom, #column-right .box-product .boxgrid-bottom {
	text-align: left;
	background: none;
	padding: 0;
	margin-top: -10px;
}
#column-left .box-product .name, #column-right .box-product .name {
	margin-top: 10px;
}
#column-left .box-product .name a, #column-right .box-product .name a {
	font-size: 12px;
}
/* End column left and column right box-product */

/* box category */
#box-category-area {
	background: none;
}
.box-category {
	margin: -10px 0 15px 0;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0 10px 0 0;
}
.box-category > ul > li {
	padding: 6px 5px 6px 0px;
}
.box-category > ul > li + li {
	border-top: 0px dashed #e2e2e2;
}
.box-category > ul > li > a {
	background: url(../images/arrow-right.png) left 3px no-repeat;
	font-size: 13px;
	text-decoration: none;
	color: #666;
	padding-left: 10px;
}
.box-category > ul > li > a:hover {
	color: #CE347E;
	text-decoration: underline;
	background: url(../images/arrow-right.png) left 3px no-repeat;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: normal;
	color: #CE347E;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 10px 5px 0px 15px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	font-size: 13px;
	color: #666;
	display: block;
}
.box-category > ul > li ul > li > a:hover {
	text-decoration: underline;
	color: #CE347E;
}
.box-category > ul > li ul > li > a.active {
	font-weight: normal;
}
/* END BOX */

/* content */
#content .content {
	/*background: #f3f3f3;*/
	border: 1px solid #e0e0e0;
	padding: 15px;
	overflow: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#content .content ul {
	line-height: 19px;
	list-style: none;
	padding-left: 15px;
}
#content .content ul li {
	/*background: url('../images/arrow-right-small.png') 4px 7px no-repeat;*/
	/*padding-left: 15px;*/
	/*color: #666;*/
	/*font-size: 13px;*/
}
#content .content ul li a {
	font-size: 12px;
	color: #666;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-top-content {
	border: none;
	margin-bottom: 30px;
}
.category-info {
	overflow: auto;
}
.category-info ul {
	line-height: 19px;
}
.category-info .image {
	float: left;
	padding: 2px 2px 0 2px;
	margin-right: 15px;
	border: 1px solid #DDD;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list span {
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}
.category-list ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.category-list ul li a {
	display: inline-block;
	float: left;
	margin: 0 10px 10px 0;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	font-size: 11px;
	padding: 0 8px 0 8px;
	line-height: 20px;
	background-image: url(../images/category-list-bg.png);
	background-repeat: repeat;
	background-color: #7C8E92;
	border: 2px solid white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 3px 0px 0px #B6BBBD;
	-moz-box-shadow: 3px 0px 0px #B6BBBD;
	box-shadow: 3px 0px 0px #B6BBBD;
}
.category-list ul li a:hover {
	background-image: url(../images/category-list-hover-bg.png);
	-webkit-box-shadow: 3px 0px 0px #FF7676;
	-moz-box-shadow: 3px 0px 0px #FF7676;
	box-shadow: 3px 0px 0px #FF7676;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #f3f3f3;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	overflow: auto;
	background: #EEE url(../images/product-filter-bg.png) repeat;
	padding: 0 10px 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	color: #666;
	line-height: 36px;
}
.product-filter .display a {
	color: #999;
}
.product-filter .display a:hover {
	color: #666;
}
.product-filter .sort {
	float: right;
	color: #666;
	line-height: 36px;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #666;
	line-height: 36px;
}
.product-compare {
	float: left;
    padding-top:5px;
	/*line-height: 36px;*/
}
.product-compare a {
	text-decoration: none;
	padding-left: 20px;
	background: url(../images/compare.png) left -3px no-repeat;
	color: #666;
}
.product-compare a:hover {
	text-decoration: underline;
}
.product-add-list-compare {
	margin-top: 15px;
}
.product-add-to-wishlist {
	background: url(../images/wishlist.png) left -1px no-repeat;
	padding-left: 18px;
	color: #666;
}
.product-add-to-compare {
	background: url(../images/compare.png) left -3px no-repeat;
	padding-left: 20px;
	color: #666;
}
.write-review {
	background: url(../images/add.png) left center no-repeat;
	padding-left: 10px;
	margin-left: 10px;
}

/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 10px;
}
.product-info > .left + .right {

}

.new_right{
	float:right;
}
.product-info .image {
	float: left;
	margin-bottom: 10px;
	padding: 2px 2px 0 2px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.product-info .image .zoom{
	margin-top: 5px;
	margin-bottom: -6px;
}
.product-info .image .zoom a{
	font-size: 10px;
	color: #888;
	text-transform: uppercase;
	background: white url('../images/zoom.png') 5px 2px no-repeat;
	padding: 1px 5px 1px 16px;
}
.product-info .image-additional {
	width: 330px;
	margin-left: 0;
	clear: both;
	overflow: hidden;
	float: left;
}
.product-info .image-additional img {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-right: 9px;
	margin-bottom: 9px;
}
.product-info .description {
	padding: 15px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 19px;
	font-size: 12px;
}
.product-info .description span {
}
.product-info .description a {
	color: #CE347E;
}
.price-container {
}
.product-info .price {	
	font-size: 24px;
	color: #CE347E;
}
.product-info .price-old {
	color: #bbb;
	text-decoration: line-through;
	font-size: 16px;
	font-weight: normal;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
}
.product-info .options {
	padding: 0px 5px 10px 20px;
	margin-bottom: 10px;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	padding: 10px 5px 10px 0px;
	margin-bottom: 5px;
	color: #666;
	overflow: auto;
}
.product-info .cart div {
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	margin-bottom: 10px;
	padding-left: 10px;
}
.product-info .review a {
	color: #666;
}
.product-info .review > div {
	padding: 8px 0;
	line-height: 22px;
}
.product-info .review > div > span {
	color: #C44032;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding-bottom: 10px;
	overflow: auto;
	margin-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}
.review-list .author {
	float: left;
	margin-bottom: 10px;
	background: url(../images/review-list-author.png) left center no-repeat;
	padding-left: 15px;
}
.review-list .rating {
	float: right;
	margin-bottom: 10px;
}
.review-list .text {
	clear: both;
	line-height: 19px;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	font-size: 14px;
	font-weight: bold;
	background: #f3f3f3;
	text-align: left;
}
.attribute tr td:first-child {
	font-weight: bold;
	/*text-align: right;*/
	width: 20%;
}
.attribute td {
	padding: 7px;
	/*text-align: center;*/
	vertical-align: top;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin-bottom: 20px;
	background: #fff;
}
.compare-info-img {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	font-size: 14px;
	font-weight: bold;
	background: #f3f3f3;
	text-align: left;
}
.compare-info tr td:first-child {
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.compare-info .name a {
	font-weight: normal;
}
.compare-info .price-old {
	font-weight: normal;
	color: #bbb;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: normal;
	color: #CE347E;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	font-weight: bold;
	background-color: #f3f3f3;
	border-bottom: 1px solid #e0e0e0;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	background: #fff;
	vertical-align: top;
	border-bottom: 1px solid #e0e0e0;
}
.wishlist-info tbody .image img {
	padding: 2px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .name a {
	font-weight: normal;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
	font-weight: normal;
}
.wishlist-info tbody .price s {
	color: #bbb;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	background: #f3f3f3;
	border: 1px solid #e0e0e0;
	padding: 10px;
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #f3f3f3;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
	line-height: 19px;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	font-weight: bold;
	background-color: #f3f3f3;
	border-bottom: 1px solid #e0e0e0;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
}
.cart-info tbody .image img {
	border: 1px solid #e0e0e0;
	padding: 3px;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #e0e0e0;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #f3f3f3;
	border: 1px solid #e0e0e0;	
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	font-weight: bold;
	background-color: #f3f3f3;
	border-bottom: 1px solid #e0e0e0;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #e0e0e0;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #e0e0e0;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}

/* Begin sitemap */
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info ul {
	line-height: 19px;
	list-style: none;
}
.sitemap-info ul li ul {
	padding-left: 15px;
}
.sitemap-info ul li a {
	background: url('../images/arrow-right-small.png') 4px 5px no-repeat;
	padding-left: 15px;
	color: #666;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
.sitemap-info .left > ul > li > a, .sitemap-info .right > ul > li > a {
	font-weight: bold;
	background: none;
	padding: 0
}
/* End sitemap */

/* Begin footer */
#footer-mobile {
	display: none;
}
#footer  {
	position: relative;
	clear: both;
	overflow: auto;
	min-height: 100px;
	margin-left: -16px;
	margin-right: -16px;
	padding: 25px 10px 10px 10px;
	background-image: url(../images/footer-shadow.png);
	background-repeat: repeat-x;
	background-color: #383838;	
	border-style: solid;
	border-width: 2px;
	border-color: #ccc;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#footer h3 {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.column1 h3, .column2 h3, .column3 h3, .column4 h3 {
	color: #7E7E7E;
}
#footer .column1, #footer .column2, #footer .column3, #footer .column4 {
	float: right;
	width: 17.2%;
	min-height: 120px;
	margin-right: 15px;
	background: url(../images/footer-column-split.png) right no-repeat;
}
#footer .column1 ul, #footer .column2 ul, #footer .column3 ul, #footer .column4 ul {
	margin: 0;
	padding: 0;
}
#footer .column1 ul li, #footer .column2 ul li, #footer .column3 ul li, #footer .column4 ul li {
	line-height: 20px;
	list-style-type: none;
}
#footer .column1 a, #footer .column2 a, #footer .column3 a, #footer .column4 a {
	text-decoration: none;
	color: #7E7E7E;
	display: block;
	font-size: 12px;
	background: url(../images/arrow-right-small.png) left 7px no-repeat;
	padding-left: 8px;
}
#footer .column1 a:hover, #footer .column2 a:hover, #footer .column3 a:hover, #footer .column4 a:hover {
	text-decoration: underline;
}
/* footer contacts */
.column-contacts {
	float: right;
	width: 23%;
	min-height: 125px;
	margin: 0;
}
.column-contacts h3 {
	/*color: #FC575E;*/
}
.column-contacts ul {
	margin: 0;
	padding: 0;
}
.column-contacts ul li {
	color: #7E7E7E;
	font-size: 12px;
	padding-left: 30px;
	line-height: 28px;
	list-style-type: none;
}
.column-contacts .phone {
	/*background: url(../images/phone.png) left center no-repeat;*/
}
.column-contacts .mobile {
	/*background: url(../images/mobile.png) 4px center no-repeat;*/
}
.column-contacts .email {
	/*background: url(../images/email.png) left center no-repeat;*/
}
.column-contacts a {
	text-decoration: none;
	color: #7E7E7E;
	display: block;
}
.column-contacts a:hover {
	text-decoration: underline;
}
/* powered */
#powered {
	margin: 0 -16px -3px -16px;
	font-size: 11px;
	color: #7E7E7E;
	background: #333;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #2E2E2E;
	border-left: none;
	border-right: none;
	border-bottom: none;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.footer-alignleft {
	float: left;
}
.footer-alignleft a {
	font-size: 11px;
	color: #999;
}
.footer-alignright {
	float: right;
}
.footer-alignright a {
	font-size: 11px;
	color: #999;
}
.footer-alignright a:hover {
	text-decoration: underline;
}
/* social icons */
ul.social-icons {
	position: absolute; 
	bottom: 10px;
	right: 10px;
	margin: 0;
	padding: 0;
}
ul.social-icons li {
	display: inline-block;
	list-style: none;
}
ul.social-icons li img {
	margin-right: 7px; 
}
ul.social-icons li img:hover {
	opacity: 0.7;
	filter: Alpha(opacity=70); /* IE8 and earlier */ 
}
/* End footer */

/* Begin banner */
.banner {
	display: inline-block;
	margin-bottom: 15px;
}
.banner div {
	float: left;
	margin: 0 7px 15px 7px;
}
.banner div:hover {
	opacity: 0.9;
	filter: Alpha(opacity=90); /* IE8 and earlier */
}
#column-left .banner div {
	margin: 0;
}
#column-right .banner div {
	margin: 0 0 0 15px;
}
.clear {
	clear: both;
	visibility: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
/* End banner */

/* Begin scroll to top button */
#scroll-to-top {
	width: 30px;
	height: 30px;
	background: #555 url(../images/scroll-up.png) center no-repeat;
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 25px;
	cursor: pointer;
	opacity: 0.5;
	filter: Alpha(opacity=50); /* IE8 and earlier */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
#scroll-to-top:hover {
	opacity: 1;
	filter: Alpha(opacity=100); /* IE8 and earlier */
}
/* End scroll to top button */

.header-top-container {
    background: transparent url("../images/header_top_container_bg.jpg") repeat-x scroll 0% 0%;
    height: 189px;
}

.header-left {
    background: transparent url("../images/header-left.png") no-repeat scroll left center;
    float: left;
    height: 178px;
    width: 335px;
    margin-left: 70px;
}
.header-right {
    background: url("../images/header-right.png") no-repeat right center;
    float: right;
    height: 178px;
    width: 272px;
    margin-right: 40px;
}

.top-header-container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.top-buttons{
    background-color: #EED084;
    border:1px solid #F8F8F5;
    padding:5px;
    margin-top:12px;
    color:black;
    font-weight:bold;
}
.top-header-container a{
    color:black;
}
.origin {
    color:black;
    font-weight: bold;
    text-align: center;
}
.out_of_stock{
    color:red;
    font-weight: bold;
    text-align: center;
}
.product_description{
    color:#808080;
    text-align: left;
}

.box-product hr {
    border: 1px dotted #bbbbbb;
}
.no-display{
    display:none;
}
.price-box{
}
.product-options{
    background-color: peachpuff;
    border:1px solid pink;
    margin-top:5px;
    margin-bottom:5px;
}
.messages {
    padding: 10px;
    margin-bottom: 10px;
}
.success-msg {
    background-color: green;
    /* padding: 10px; */
    color: white;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}
.success-msg ul > li{
    list-style: none;
}
.error-msg {
    background-color: red;
    /* padding: 10px; */
    color: white;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}

.error-msg ul > li{
    list-style: none;
}
.options-list li{
    list-style: none;
}
.price-notice{
    margin-right:5px;
}
.group-select{
    border: 1px solid white;
}
.group-select ul > li{
    list-style: none;
}
.right{
    float:right;
}
.left{
    float:left;
}
.shipping-box{
    border:1px solid #dddddd;
    background-color:#f7f6e4;
    padding:10px;
}
.total-box{
    border:1px solid #dddddd;
    background-color: #f3f3f3;
    padding:40px;
}

fieldset{
    border:1px solid white;
}



/* Shopping Cart */
.shopping-cart  { margin-bottom:0; }
.shopping-cart th, .shopping-cart td { padding-left:13px; padding-right:13px; }
.shopping-cart th .tax-flag {font-size:0.9em; font-weight:normal; display:block; }
.shopping-cart tr.error { background:#FDE6E0 !important; }
.shopping-cart .continue-shopping { float:left; }
.shopping-cart-item-message {margin-bottom:5px;font-size:95%;margin-top:6px; }

td.attributes-col { line-height:1.4em; }
td.attributes-col ul { margin:5px 0; font-size:.95em; }
td.attributes-col dt { margin-top:.5em; }
td.attributes-col dd ul { margin:0 0 5px 0; list-style:disc; }
td.attributes-col dd ul li { margin-left:15px; }
td.attributes-col h4.title { padding:0; margin:0; font-size:1em; color:#2f2f2f; width:100%; overflow:hidden; }
td.attributes-col h4.title a { font-weight:bold; }

.shopping-cart-totals {
    width:248px;
    float:right;
    margin-top:25px;
    border:1px solid #BEBCB7;
    background:#DEE5E8;
    text-align:right;
}
.shopping-cart-totals table { width:100%; margin:7px 0; }
.shopping-cart-totals td { padding:0 15px; }
.shopping-cart-totals tr.last td {}
.shopping-cart-totals tfoot td {
    padding-top:10px;
    font-size:1.3em;
    border:none!important;
}
.shopping-cart-totals .checkout-types { padding:8px 15px 15px; }
.shopping-cart-totals .checkout-types li { clear:both;  margin:10px 0; }

/* Tax details */
.tax-total { cursor:pointer; }
.tax-total td { line-height:13px; padding-top:5px !important; padding-bottom:5px !important; }
.tax-total .tax-collapse { float:right; padding-left:20px; background:url(../images/bg_collapse.gif) 0 2px no-repeat; text-align:right; cursor:pointer; }
.show-details .tax-collapse { background-position:0 -55px; }
.show-details td { border-top:1px solid #d2d8db; }
.tax-details td { font-size:0.91em; color:#626465; background-color:#dae1e4; }
.tax-details-first td { border-top:1px solid #d2d8db; }

/* Shopping cart tax info */
.cart-tax-info, .cart-price { padding-right:20px; }
.cart-tax-total { cursor:pointer; }
.cart-tax-total { padding-right:20px; background:url(../images/bg_collapse.gif) 100% 5px no-repeat; cursor:pointer; }
.cart-tax-total-expanded { background-position:100% -52px; }


.shopping-cart-collaterals {
    float:left;
    width:605px;
    padding:25px 0;
}
.shopping-cart-collaterals .box {
    margin-bottom:18px;
    padding:12px 15px;
    border:1px solid #D0CBC1;
    background:url(../images/base_mini_head_bg.gif) repeat-x #fff;
}
.shopping-cart-collaterals .box .form-button  {  margin-left:5px; }
.shopping-cart-collaterals .discount-codes h4, .shopping-cart-collaterals .shipping-estimate h4 {
    min-height:16px;
    color:#e26703;
    background-repeat:no-repeat;
    background-position:0 0;
    padding:1px 0 1px 21px;
    text-transform:uppercase;
}
.shopping-cart-collaterals .discount-codes h4 { background-image:url(../images/icon_asterick.gif);  padding-left:23px; }
.shopping-cart-collaterals .shipping-estimate h4 { background-image:url(../images/icon_lorry.gif);  padding-left:23px; }
.shopping-cart-collaterals .shipping-estimate .input-text { width:214px; }
.shopping-cart-collaterals .shipping-estimate select { width:220px; }
.shopping-cart-collaterals .upsell {
    width:42.5%;
    border:1px solid #cec3b6;
    padding:12px 15px;
    background:#fafaec;
}
.shopping-cart-collaterals .upsell .product-image { float:left; width:75px; border:1px solid #d0cdc9; }
.shopping-cart-collaterals .upsell .product-shop { width:170px; }
.shopping-cart-collaterals .upsell .product-shop h5 { font-size:1em; }
.grand_total {
    width:auto;
    margin-top:15px;
    border:1px solid #BEBCB7;
    background:#DEE5E8;
    font-size:1.3em !important;
    font-weight:bold;
    text-align:right;
}
tr.grand_total td, p.grand_total { padding-top:5px; padding-bottom:5px; }


/* One-Page checkout */
.one-page-checkout li.section { position:relative; }
.one-page-checkout .group-select { margin-right:0; }
.one-page-checkout .box { border:1px solid #bbb6a5; border-top:0; padding:15px 20px; background:#faf7ee; }
.one-page-checkout .head { margin-bottom:0; padding:4px 8px 6px 8px; background:url(../images/opc_off_head_bg.gif) repeat-x 0 100% #eee; border-width:0 1px 0 1px; border-color:#D9DDE3; border-style:solid; border-top:1px solid #fff; }
.one-page-checkout .tool-tip { right:8px; }
.one-page-checkout .head a { display:none; }  /* Hide Edit button in step header */
.one-page-checkout h3 { color:#999; font-size:1.05em; }
.one-page-checkout h4 { border-bottom:1px solid #E4E4E4; padding-bottom:2px; text-transform:uppercase; }
.one-page-checkout h4.title { border-bottom:0; text-transform:none; }
.one-page-checkout .step-count { background:#fff; font-size:.9em; padding:0 4px; line-height:1em; }
.one-page-checkout .content { padding:10px 20px; }
.one-page-checkout label.label { font-size:1.05em; color:#2f2f2f; }
.one-page-checkout .allow .head { background:#d0dce1; border-color:#a3aeb3; border-width:1px 1px 0 1px; cursor:pointer; }
.one-page-checkout .active .head { margin-bottom:0; border:1px solid #BBAFA0; background:#F9F3E3; padding-bottom:5px; cursor:default; }
.one-page-checkout .alloq .head a { display:block; } /* Display Edit button in active selection */
.one-page-checkout .group-select { margin-top:0; border:0; background:none; padding:0; }
.one-page-checkout .allow h3 { color:#a4b3b9; }
.one-page-checkout .active h3 { color:#F18200; }
.one-page-checkout .allow .step-count { background:#dbe6eb; }
.one-page-checkout .active .step-count { color:#fff; border:1px solid #f19900; background:#F18200; }
.one-page-checkout .active .box { display:block; border-color:#BBAFA0; background:#FBFAF6 url(../images/multi_address_box_bg.gif) 0 0 repeat-x; }
.one-page-checkout dd .form-list ul { margin:5px 17px 15px 17px; }
.one-page-checkout .checkmo-mailing-address { padding-left:20px; }
.one-page-checkout-progress .page-head { margin-bottom:1em; }
.one-page-checkout-progress li { border:1px solid #A3AEB3; background:#eee; margin-bottom:6px; }
.one-page-checkout-progress h4 { margin:0; color:#999; padding:2px 8px; background:#eee; text-transform:none;  }
.one-page-checkout-progress h4.complete { border-bottom:1px solid #A3AEB3; background:#D0DCE1; color:#5e8ab4; }
.one-page-checkout-progress h4 a { text-transform:none; }
.one-page-checkout-progress .content { padding:8px 13px; }
#opc-login .button-set { border-top:0; }
#opc-review .box { border:0; padding:0; }
#opc-review .content { border:1px solid #d9dde3; border-top:0; }
#opc-review .data-table { border-top:0; }
.opc-please-wait { padding-right:7px; }
.one-page-checkout a.back { background:url(../images/icon_opc_back.gif) no-repeat; padding-left:16px; line-height:13px; }
.one-page-checkout .payment-methods dd { padding:0; }
.one-page-checkout .button-set { margin-top:0; padding-top:2em; }


.checkout-progress { margin:0 auto 1.5em auto; }
.checkout-progress td {
    float:left;
    margin-right:3px;
    border-top:10px solid #999;
    padding:4px 20px;
    color:#abb5ba;
    font-weight:bold;
}
.checkout-progress td.active {
    border-top-color:#e96200;
    color:#e96200;
}

/* Multiple Addresses checkout */
.multi-address-checkout-description {
    margin-top:-15px;
    margin-bottom:15px;
}
.multi-address-checkout-box .box {
    position:relative;
    margin-top:15px;
    margin-bottom:25px;
    border:1px solid #bbb6a5;
    background:url(../images/multi_address_box_bg.gif) repeat-x #FBFAF6;
}
.multi-address-checkout-box .legend {
    float:left;
    margin-top:-10px;
    margin-bottom:0;
    margin-left:15px;
    border:1px solid #F18200;
    background:#F9F3E3;
    color:#F18200;
    padding:2px 8px;
}
.multi-address-checkout-box .content {
    padding:15px 20px 20px 20px;
}
.multi-address-checkout-box .count-head {
    border-bottom:1px solid #BBAFA0;
    background:#F9F3E3;
    padding:5px 10px;
}
.shipment-count {
    background:#E26703;
    padding:2px 5px;
    color:#fff;
    font-size:.95em;
    line-height:1em;
}
.multi-address-checkout-box .tool-tip { left:-23px; }
.multi-address-checkout-box .count-head h4 {  margin:0; }
.multi-address-checkout-box .head h5 { color:#E26703; }
.multi-address-checkout-box .head a { font-weight:normal; }
.multi-address-checkout-box .checkmo-mailing-address { display:block; padding-left:20px; }
.shipping-method-pointer { border:1px solid #d9d2be; padding:13px; background:#F9F3E3; position:relative; }
.shipping-method-pointer .pointer { position:absolute; top:-20px; right:-40px; }
.place-order-box { float:right; height:71px; overflow:hidden; }
.place-order-box .left-radius { width:21px; background:url(../images/place_order_container_bg.gif) no-repeat; }
.place-order-box .main-radius{ background:url(../images/place_order_bg.gif) no-repeat 100% 0; padding-right:21px; vertical-align:middle; }
.place-order-box .grand-total { font-size:1.5em; }
.place-order-box .grand-total .price { color:#e26703; font-weight:bold; }
.place-order-box input { margin-left:15px; }

/* Checkout Agreements */
.checkout-agreements li { margin:30px 0; }
.checkout-agreements .agreement-content { overflow:auto; height:10em; padding:10px; background-color:#fbfaf6; border:1px solid #bbb6a5; }
.checkout-agreements .agree { margin:0; padding:10px 0 10px 11px; }

.one-page-checkout .checkout-agreements { border:1px solid #d9dde3; border-width:0 1px; padding:5px 20px; }
.one-page-checkout .checkout-agreements li { margin:20px 0 0; }
.one-page-checkout .checkout-agreements .agreement-content { background-color:#fff; border-color:#e4e4e4; padding:5px; }
.one-page-checkout .checkout-agreements .agree { padding-left:6px; }

.default-button {
    background-color: #b8cc56;
    color:white;
    padding: 12px;
    border:1px solid green;
    font: bold 12px arial, sans-serif !important;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    width:auto;
}

.checkout-button {
    background-color: coral;
    color:white;
    padding: 12px;
    border:1px solid lightcoral;
    font: bold 12px arial, sans-serif !important;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    width:auto;
}

.no-display{
    display:none;
}
#footer_categories h2 a:hover {
    color: #4cb1ca !important;
}

.one-page-checkout .active .step-count {
    color: #fff;
    border: 1px solid #f19900;
    background: #F18200;
}
.one-page-checkout .allow .step-count {
    /*background: #dbe6eb;*/
}
.one-page-checkout .step-count {
    background: #fff;
    font-size: .9em;
    padding: 0 4px;
    line-height: 1em;
}

.one-page-checkout .active h3 {
    color: #F18200;
}
/* Checkout Agreements */
.checkout-agreements li { margin:30px 0; }
.checkout-agreements .agreement-content { overflow:auto; height:10em; padding:10px; background-color:#fbfaf6; border:1px solid #bbb6a5; }
.checkout-agreements .agree { margin:0; padding:10px 0 10px 11px; }

.one-page-checkout .checkout-agreements { border:1px solid #d9dde3; border-width:0 1px; padding:5px 20px; }
.one-page-checkout .checkout-agreements li { margin:20px 0 0; }
.one-page-checkout .checkout-agreements .agreement-content { background-color:#fff; border-color:#e4e4e4; padding:5px; }
.one-page-checkout .checkout-agreements .agree { padding-left:6px; }


textarea {
    padding-bottom: 8px !important;
    resize: vertical;
    vertical-align: baseline;
}
select {
    height: 28px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: middle;
}
select[size] {
    height: auto;
}
button {
    height: 40px;
    border: none;
    background: orange;
    color:white;
    border:1px solid #dddddd;
    margin-bottom:20px;
}
#billing-buttons-container{
    padding-bottom:40px;
}
#checkout-step-shipping_method{
    padding:5px;
    border-left:1px solid #bbafa0;
    border-right:1px solid #bbafa0;
    border-bottom:1px solid #bbafa0;
}
#shipping-method-buttons-container{
    padding-bottom:40px;
}
.shipment-methods li{
    list-style: none;
    padding-bottom:5px;
}
#payment-buttons-container{
    padding-bottom:40px;
}
#checkout-review-load{
    padding:5px;
    border-left:1px solid #bbafa0;
    border-right:1px solid #bbafa0;
    border-bottom:1px solid #bbafa0;
}
.make_white{
    color:white;
    font-size:24px;
}

.make_white a{
    color:white;
    font-size:24px;
}

.register_style{
    border:1px solid #dddddd;
    background-color: #f6f7e9;
    padding:15px;
    height:365px;
    margin-bottom:40px;
}
.register_button{
    margin-top:80px;
}
.bottom-buttons{
    margin-top:180px;
}
.bottom-login{
    margin-top:70px;
}
.top_cart{
    padding-top:20px;
    /*margin-right:40px;*/
    background: url(http://www.cibariasoapsupply.com/shop/skin/frontend/default/cibaria-supply/images/header-right-other.png) no-repeat right center;
}
.top_cart a{
    color:black;
    font-size:20px;
    margin-right: 70px;
}
.top_cart a span{
    color:green;
}


@media only screen and (min-width: 980px) and (max-width: 11200px) {
    .request-account {
        display:none;
    }

    #header-area-mobile {
        display:none;
    }


}

