
<div id="footer">
    <!-- Begin social icons
        <ul class="social-icons">
          <li><a title="Facebook" target="_blank" href="http://www.your-facebook-address.com"><img src="images/facebook.png"></a></li>
          <li><a title="Twitter" target="_blank" href="http://www.your-twitter-address.com"><img src="images/twitter.png"></a></li>
          <li><a title="Linkedin" target="_blank" href="http://www.your-linkedin-address.com"><img src="images/linkedin.png"></a></li>
          <li><a title="Google" target="_blank" href="http://www.your-google-address.com"><img src="images/google.png"></a></li>
          <li><a title="Youtube" target="_blank" href="http://www.your-youtube-address.com"><img src="images/youtube.png"></a></li>
        </ul>//-->
    <!-- End social icons //-->

    <!-- Begin contacts //-->
    <div class="column-contacts">
        <h3>Cibaria International</h3>
        <ul>
            <li class="phone">(+951) 823 8490</li>
            <li class="email"><a href="<?php echo Mage::getBaseUrl() . "contact/"; ?>" rel="nofollow">customerservice@cibaria-intl.com</a></li>
        </ul>
    </div>
    <!-- End contacts //-->

    <!-- Begin footer columns //-->
    <div class="column4">
        <h3>Cibaria Stores</h3>
        <ul>
            <li><a href="http://cibariasoapsupply.com/shop">Cibaria Soap Supply</a></li>
            <li><a href="http://cibaria-intl.com">Cibaria International</a></li>
        </ul>
    </div>
    <div class="column3">
        <h3>My Account</h3>
        <ul>
            <li><a href="<?php echo Mage::getBaseUrl() . "customer/account/"; ?>" rel="nofollow">My Account</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "sales/order/history/"; ?>" rel="nofollow">Order History</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "wishlist"; ?>" rel="nofollow">Wish List</a></li>
        </ul>
    </div>
    <div class="column2">
        <h3>Customer Service</h3>
        <ul>
            <li><a href="<?php echo Mage::getBaseUrl() . "contact/"; ?>" rel="nofollow">Contact Us</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "freight-policy"; ?>" rel="nofollow">Freight Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "payments"; ?>" rel="nofollow">Website Payment Procedure</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "300-minimum"; ?>" rel="nofollow">Minimum Order</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "ordering-policy"; ?>" rel="nofollow">Ordering Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "damage-policy"; ?>" rel="nofollow">Damage Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "policy-changes"; ?>" rel="nofollow">Policy Changes</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "privacy-policy"; ?>" rel="nofollow">Privacy Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "site-terms"; ?>" rel="nofollow">Terms & Conditions</a></li>
        </ul>
    </div>
    <div class="column1">
        <h3>Information</h3>
        <ul>
            <li><a href="<?php echo Mage::getBaseUrl() . "about-us"; ?>">About Us</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "faq"; ?>">FAQ</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "company-holidays"; ?>">Company Holidays</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "articles"; ?>">Articles</a></li>
        </ul>
    </div>

</div>
<div id="footer-mobile">
    <div class="footer-menu-mobile">
        <h3>Cibaria Stores</h3>

        <div class="footer-menu-mobile-nav">
            <li><a href="http://cibariasoapsupply.com/shop">Cibaria Soap Supply</a></li>
            <li><a href="http://cibaria-intl.com">Cibaria International</a></li>
        </div>
        <h3>My Account</h3>

        <div class="footer-menu-mobile-nav">
            <li><a href="<?php echo Mage::getBaseUrl() . "customer/account/"; ?>" rel="nofollow">My Account</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "sales/order/history/"; ?>" rel="nofollow">Order History</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "wishlist"; ?>" rel="nofollow">Wish List</a></li>
        </div>
        <h3>Customer Service</h3>

        <div class="footer-menu-mobile-nav">
            <li><a href="<?php echo Mage::getBaseUrl() . "contact/"; ?>" rel="nofollow">Contact Us</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "freight-policy"; ?>" rel="nofollow">Freight Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "payments"; ?>" rel="nofollow">Website Payment Procedure</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "300-minimum"; ?>" rel="nofollow">Minimum Order</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "ordering-policy"; ?>" rel="nofollow">Ordering Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "damage-policy"; ?>" rel="nofollow">Damage Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "policy-changes"; ?>" rel="nofollow">Policy Changes</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "privacy-policy"; ?>" rel="nofollow">Privacy Policy</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "site-terms"; ?>" rel="nofollow">Terms & Conditions</a></li>
        </div>
        <h3>Information</h3>

        <div class="footer-menu-mobile-nav">
            <li><a href="<?php echo Mage::getBaseUrl() . "about-us"; ?>">About Us</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "faq"; ?>">FAQ</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "company-holidays"; ?>">Company Holidays</a></li>
            <li><a href="<?php echo Mage::getBaseUrl() . "articles"; ?>">Articles</a></li>
        </div>
    </div>
</div>

<!--<script type='text/javascript' src='http://cibariastoresupply.com/js/jquery.js'></script>-->
<!--<script type='text/javascript' src='http://cibariastoresupply.com/js/jquery.simplemodal.js'></script>-->
<!--<script type='text/javascript' src='http://cibariastoresupply.com/js/contact.js'></script>-->