
<!--top nav mobile-->
<div class="top-header-main-mobile"></div>
<!--top nav-->
<div class="top-header-main">

    <div class="top-header-container">
        <br />
        <div >
                <?php
//loggedin
                $loggedIn = $this->helper("customer")->isLoggedIn();
                if ($loggedIn == 1) { ?>

                    <a href="<?php echo $this->getUrl('sales/order/history') ?>"
                           rel="nofollow" class="top-buttons">Check My Order Status</a>

                    <a href="<?php echo $this->getUrl('customer/account') ?>"
                           rel="nofollow" class="top-buttons">My Account</a>

                <?php } else { ?>

                        <a href="<?php echo Mage::getBaseUrl() . "request-account"; ?>" class="top-buttons" rel="nofollow">Request An Account</a>
                        <a href="<?php echo Mage::getBaseUrl() . "customer/account/login"; ?>" class="top-buttons" rel="nofollow">Login</a>

                <?php } ?>

                    <?php
                    $loggedIn = $this->helper("customer")->isLoggedIn();
                    if ($loggedIn == 1) { ?>
                        <a href="<?php echo Mage::getBaseUrl() . "customer/account/logout"; ?>" rel="nofollow" class="top-buttons">Logout</a>
                    <?php }else { ?>
<!--                        <a href="--><?php //echo Mage::getBaseUrl() . "customer/account/login"; ?><!--" rel="nofollow" class="top-buttons">Log In</a>-->
                    <?php } ?>
<!--old search-->

<!--                        new search-->
                        <div id="search" style="float:right;margin-top:0px;">
                            <?php echo $this->getChildHtml('topSearch') ?>
                        </div>
        </div>
    </div>

</div><!--end top container-->

<div id="header-area">
    <div id="header-wrapper">
        <div id="header">
            <img src="<?php echo Mage::getBaseUrl(); ?>skin/frontend/default/cibaria-supply/images/header-left.png" alt="Gourmet Olive Oils & Vinegars" style="float:left;"/>
            <a href="http://www.cibariastoresupply.com"><img src="<?php echo Mage::getBaseUrl(); ?>skin/frontend/default/cibaria-supply/images/logo.png" alt="Cibaria Store Supply" id="logo"/></a>

            <?php
            //if logged in for shopping cart
            $loggedIn = $this->helper("customer")->isLoggedIn();
            if ($loggedIn == 1) { ?>
            <?php echo $this->getChildHtml('top_cart'); ?>
            <?php }else{ ?>
            <img src="<?php echo Mage::getBaseUrl(); ?>skin/frontend/default/cibaria-supply/images/header-right.png" alt="Sold Fresh to Olive Oil Stores Across America" style="float:right;"/>
            <?php } ?>

        </div>
    </div>
</div>
<!-- end header //-->

<div id="header-area-mobile">
    <a href="<?php echo Mage::getBaseUrl(); ?>"><img src="<?php echo Mage::getBaseUrl(); ?>skin/frontend/default/cibaria-supply/images/logo.png" alt="Cibaria Store Supply" id="logo" class="header-area-mobile-logo"/></a>
</div>

<?php
//if logged in desktop nav
$loggedIn = $this->helper("customer")->isLoggedIn();
if ($loggedIn == 1) { ?>
<?php include('../shop/includes/logged-in-nav.php'); ?>
<?php }else{ ?>
<!-- begin menu //-->
<?php include('../shop/includes/nav.php'); ?>
<!-- end menu //-->
<?php } ?>

<?php
//if logged in mobile nav
$loggedIn = $this->helper("customer")->isLoggedIn();
if ($loggedIn == 1) { ?>
    <?php print_r($loggedin); ?>
    <?php include('../shop/includes/logged-in-mobile-nav.php'); ?>
<?php }else{ ?>
<!-- begin menu-mobile //-->
    <?php print_r($loggedin); ?>

<?php include('../shop/includes/mobile-nav.php'); ?>
<!-- end menu-mobile //-->
<?php } ?>

<!--topcart-->
            <?php
//topcart
//            $page = Mage::getBlockSingleton('cms/page')->getPage()->getIdentifier();
//
//            if ($page != 'home') {
//
//                echo $this->getChildHtml('top_cart');
//
//            }

            ?>
<!--end topcart-->
















	