<div class="page-head">
    <h3><?php echo Mage::helper('contacts')->__('Request a Seller Account') ?></h3>
</div>

<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

	<fieldset class="group-select">
        <h4 class="legend"><?php echo Mage::helper('contacts')->__('Seller Account Information') ?></h4>
        <ul>
        <li>

<input type="hidden" name="oid" value="00DA0000000J0Ef">
<input type="hidden" name="sfga" value="00DA0000000J0Ef"/>
<input type="hidden" name="retURL" value="http://www.cibariastoresupply.com">

<div class="input-box">
	<label for="first_name">First Name</label><br /><input class="required-entry input-text"  id="first_name" maxlength="40" name="first_name" size="20" type="text" />
</div>

<div class="input-box">
	<label for="last_name">Last Name</label><br /><input class="input-text" id="last_name" maxlength="80" name="last_name" size="20" type="text" />
</div>

<div class="input-box">
	<label for="email">Email</label><br /><input class="required-entry validate-email input-text" id="email" maxlength="80" name="email" size="20" type="text" />
</div>

<div class="input-box">
	<label for="company">Company</label><br /><input class="input-text" id="company" maxlength="40" name="company" size="20" type="text" />
</div>

<div class="input-box">
	<label for="street">Address</label><br /><textarea name="street"></textarea>
</div>

<div class="input-box">
	<label for="city">City</label><br /><input class="input-text" id="city" maxlength="40" name="city" size="20" type="text" />
</div>

<div class="input-box">
	<label for="state">State/Province</label><br /><input class="input-text" id="state" maxlength="20" name="state" size="20" type="text" />
</div>

<div class="input-box">
	<label for="phone">Phone</label><br /><input class="input-text" id="phone" maxlength="40" name="phone" size="20" type="text" />
</div>

<div class="input-box">
	<label for="tax">Tax ID #:</label><br /><input class="input-text" id="00NA0000002biKn" maxlength="40" name="00NA0000002biKn" size="20" type="text" />
</div>

<div class="input-box">
	<label for="tax">How Did you Find Us?:</label><br /><select  id="00NA0000002biNh" multiple="multiple" name="00NA0000002biNh" title="How Did you Find Us?">
	
<option value="Direct Mail Advertisement">Direct Mail Advertisement</option>
<option value="Google Search">Google Search</option>
<option value="Yahoo Search">Yahoo Search</option>
<option value="Other Search Engine">Other Search Engine</option>
<option value="E-Mail Newsletter">E-Mail Newsletter</option>
<option value="Gourmet News Magazine">Gourmet News Magazine</option>
<option value="Online Advertisement">Online Advertisement</option>
<option value="Referred by a Friend">Referred by a Friend</option>
<option value="Supplier Directory">Supplier Directory</option>
<option value="Trade Show">Trade Show</option>
</select>

	
		</li>
		</ul>
    </fieldset>

<div class="button-set">
	<button class="form-button" type="button" onclick="_gaq.push (['_trackEvent','User-Account','Click','CibariaSupply-New-user-Sign-up']); submit();"><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></button>
</div>

</form>
