<div class="content">
<div class="left">
    <div class="register_style">
    <h3><?php echo $this->__('Log in or Create an Account') ?></h3>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">


            <h4><?php echo $this->__('New Customers') ?></h4>
            <p><?php echo $this->__('By creating an account with our store, you will be able to see wholesale prices, have access to product material, articles and many more.') ?></p>
    <p>
<!--            <button type='button' name='contact' value='Request An Account' class='register_button right'>Request An Account</button>-->
    <div class="bottom-buttons">
            <button type="button" class="register-button right" onclick="window.location='<?php echo $this->getUrl('request-account') ?>';" type="button"><span><?php echo $this->__('Request An Account') ?></span></button>
    </div>

    <!-- preload the images -->
    <div style='display:none'>
        <img src='http://cibariastoresupply.com/img/contact/loading.gif' alt='' />
    </div>
</div>
</div>

    <div class="right">
        <div class="register_style">
            <h4><?php echo $this->__('Registered Customers') ?></h4>
            <p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
            <ul class="form-list">
                    <li>
                        <label for="email"><?php echo $this->__('Email Address') ?> <span class="required">*</span></label><br />
                        <input name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" title="<?php echo $this->__('Email Address') ?>" id="email" type="text" class="input-text required-entry" style="width:250px;" />
                    </li>
                    <li>
                        <label for="pass"><?php echo $this->__('Password') ?> <span class="required">*</span></label><br />
                        <input name="login[password]" type="password" class="input-text required-entry validate-password" id="pass" style="width:250px;" />
                    </li>
                </ul>
                <p class="required"><?php echo $this->__('* Required Fields') ?></p>

    <div class="bottom-login right">
        <a href="http://www.cibariastoresupply.com/shop/password-request/" class="left" rel="nofollow"><?php echo $this->__('Forgot Your Password?') ?></a>
        <button class="form-button" type="submit" name="send" id="send2"><span><?php echo $this->__('Login') ?></span></button>
    </div>
</div>
</div>
</form>
<script type="text/javascript">
    var dataForm = new VarienForm('login-form', true);
</script>
</div>