

            <h5><?php echo $this->__('Contact Information') ?></h5>
            <table class="attribute">
                <thead>
                <tr>
                    <td>Name</td>
                   <td>Email</td>
                </tr>
                </thead>
                <tr>
                    <td>
                        <?php echo $this->htmlEscape($this->getCustomer()->getName()) ?><br />
                    </td>
                    <td>
                        <?php echo $this->htmlEscape($this->getCustomer()->getEmail()) ?><br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                         <a href="<?php echo $this->getUrl('customer/account/edit') ?>"><?php echo $this->__('Edit') ?></a> |
<!--                        <a href="http://www.cibariastoresupply.com/shop/password-request/">--><?php //echo $this->__('Change Password') ?><!--</a>-->
                    </td>
                </tr>
            </table>

            <hr/>

<!---->
<!--    --><?php //if( $this->isNewsletterEnabled() ): ?>
<!---->
<!---->
<!--            <h5>--><?php //echo $this->__('Newsletters') ?><!--</h5>-->
<!--            <a href="--><?php //echo $this->getUrl('newsletter/manage') ?><!--">--><?php //echo $this->__('Edit') ?><!--</a>-->
<!---->
<!---->
<!--            --><?php //if( $this->getIsSubscribed() ): ?>
<!--                --><?php //echo $this->__("You are currently subscribed to 'General Subscription'.") ?>
<!--            --><?php //else: ?>
<!--                --><?php //echo $this->__('You are currently not subscribed to any newsletter.') ?>
<!--            --><?php //endif; ?>
<!---->
<!--    --><?php //endif; ?>
<br />
