
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

		<?php echo $this->getToolbarHtml() ?>
	<div class="box">
	<div class="box-content">
	<div class="box-product">


				<?php foreach ($_productCollection as $_product): ?>
	<div>
						<?php // Product Image ?>
	<div class="boxgrid">
	<div class="image">
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
	</div>
	</div>
						<?php // Product description ?>



								<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
	<div class="boxgrid-bottom">
	<div class="name">
								<?php //product name ?>
								<h3><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h3></div>


	<?php if($_product->getOrigin()) :?>
		<p class="origin">Origin: <?php echo $_product->getOrigin() ?></p>
	<?php endif; ?>

	<?php
	//loggedin
	$loggedIn = $this->helper("customer")->isLoggedIn();
	if($loggedIn == 1) :?>
		<p class="out_of_stock"><?php echo $this->__('Out of stock') ?></p>
	<?php endif; ?>


		<div class="product_description">
			<?php //echo nl2br($_product->getShortDescription()) ?>
		</div>
		<hr/>
		<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><img src="http://www.cibariastoresupply.com/images/more.png" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" style="padding-top:5px;"/></a>
		<br />


	</div>
		<!-- End boxgrid bottom //-->

	</div>

				<?php endforeach; ?>







	</div>
	</div>

			<?php echo $this->getToolbarHtml() ?>

<?php endif; ?>