<?php $_helper = $this->helper('catalog/output');
$_product = $this->getProduct();

?>


<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>


<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>


<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

    <?php $_productType = $_product->getTypeId(); ?>

    <div class="product-info">
<div class="left">
<?php //Images ?>
<?php if ($_productType != 'grouped'): ?>
        <?php echo $this->getChildHtml('media') ?>
<?php endif; ?>
    </div><!--end left-->








<div>
<?php //Name ?>
<?php if($this->htmlEscape($_product->getSku()) == "OOS648" || $this->htmlEscape($_product->getSku()) == "OOS662") { ?>
<h1 style="font-size:20px"><?php echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') ?></h1>
<?php } else { ?>
<h1><?php echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') ?></h1>
<?php } ?>
    <div class="description">
    <?php //Origin ?>
    <?php if ($_product->getOrigin()) : ?>
        <span>Origin: <?php echo $_product->getOrigin() ?></span>
    <?php endif; ?>


                <?php //Addto ?>
                <?php echo $this->getChildHtml('addto') ?>


                <?php //SKU ?>
                <span>SKU: <?php echo $this->htmlEscape($_product->getSku()) ?></span>
        <?php //if you're logged in you can see price
        $loggedIn = $this->helper("customer")->isLoggedIn();
        if ($loggedIn == 1){ ?>
                <span><?php echo $this->getChildHtml('product_type_data') ?></span>

            <?php //Price ?>
            <?php //echo $this->getChildHtml('alert_urls') ?>
            <!--                                    --><?php //echo $this->getTierPriceHtml() ?>
        <?php }else { ?>
    <br/>
        <div style="margin-top:5px;border:1px solid lightgrey;padding:10px; background-color:#f7f6e4;font-weight:bold;">
                        <span style="font-size:20px; color:purple;">In Order to View Prices You Need An Account. To Get An Account Please <a
                                href="http://cibariastoresupply.com/request-account/" rel="nofollow">Click Here</a></span><br/>

            <?php } ?>

            <!-- AddThis Button BEGIN -->
<!--                <div class="addthis_toolbox addthis_default_style ">-->
<!--                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>-->
<!--                    <a class="addthis_button_tweet"></a>-->
<!--                    <a class="addthis_button_pinterest_pinit"></a>-->
<!--                </div>-->
<!--                <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>-->
<!--                <script type="text/javascript"-->
<!--                        src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519b8f027df90f2c"></script>-->
                <!-- AddThis Button END -->

        <?php //Size Options ?>
        <?php //if user is logged in they can see the additional price info
        $loggedIn = $this->helper("customer")->isLoggedIn();
        if($loggedIn == 1) { ?>
            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif; ?>
        <?php } ?>


        <?php //if the user is logged in show the wishlist
        //$loggedIn = $this->helper("customer")->isLoggedIn();if ($loggedIn == 1){ ?>
            <!-- wishlist -->
            <!-- <div class="product-add-list-compare"> -->

            <!-- <a href="<?php //echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="product-add-to-wishlist"> -->
                <!-- Add to Wish List</a> -->
            <!-- </div> -->
        <?php //}else{ ?>
        <?php //} ?>

</div><!--end description-->
 </div>
  







                <fieldset class="no-display">
                    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                    <input type="hidden" name="related_product" id="related-products-field" value=""/>
                </fieldset>




                <?php //Options/Addtocart ?>
                <?php $loggedIn = $this->helper("customer")->isLoggedIn();
                if (!$this->hasOptions()): ?>

                        <?php if ($_product->isSaleable() && $loggedIn == 1): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>

                    <?php //end ?>
                <?php else: ?>
                <?php endif; ?>


                <?php //options ?>
                <?php echo $this->getChildHtml('other'); ?>
                <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php endif; ?>



        </form>
</div><!--end right-->




        <script type="text/javascript">
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function () {
                if (this.validator.validate()) {
                    this.form.submit();
                }
            }.bind(productAddToCartForm);
        </script>

<div id="tabs" class="htabs"><a href="#tab-description"><span class="tab-description2"><?php echo $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') ?> Description</span></a>
</div>
<div id="tab-description" class="tab-content"><div>

        <?php //Product Description ?>
        <?php if ($_description = $this->getChildHtml('description')): ?>
        <p><?php echo $_description ?></p>
        <?php endif; ?>


        <?php //additional info ?>
        <?php if ($_additional = $this->getChildHtml('additional')): ?>

            <?php if ($loggedIn == 1) { ?>
                <?php echo $_additional ?>
            <?php } ?>
        <?php endif; ?>


        <?php //upsell products ?>
        <?php if ($loggedIn == 1) { ?>
            <?php echo $this->getChildHtml('upsell_products') ?>
        <?php } ?>
        <?php //echo $this->getChildHtml('product_additional_data') ?>
</div>
</div>
