<div class="page-head-alt button-level">
    <h1><?php echo $this->__('Shopping Cart') ?></h1>
    <?php if(!$this->hasError()): ?>
    <div class="right">
        <?php echo $this->getChildHtml('top_methods') ?>
    </div>
    <?php endif; ?>
        <!-- minimum order amount -->
    <br />
    <br />
    <br />
    <div style="padding:15px; background-color:red; color:white;font-size:35px; text-align:center;margin-top:5px;">Minimum Order Amount $300 <br />Does not include shipping or freight</div>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
<table cellspacing="0" border="0" id="shopping-cart-table" class="attribute">
    <col width="40" />
    <col width="75" />
    <col />
<?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
    <col width="1" />
<?php endif ?>
<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <col width="80" />
<?php endif; ?>
<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <col width="80" />
<?php endif; ?>
    <col width="1" />
<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <col width="80" />
<?php endif; ?>
<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <col width="80" />
<?php endif; ?>


<?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
    <thead>
        <tr>
            <td rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Remove') ?></td>
            <td rowspan="<?php echo $mergedCells; ?>">&nbsp;</td>
            <td rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Product Name') ?></td>
            <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
            <td rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Move to Wishlist') ?></td>
            <?php endif ?>
            <td class="a-center" colspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Unit Price') ?></td>
            <td rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Qty') ?></td>
            <td class="a-center" colspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Subtotal') ?></td>
        </tr>
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <tr>
            <td class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></td>
            <td class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></td>
            <td class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></td>
            <td class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></td>
        </tr>
        <?php endif; ?>
    </thead>
    <tfoot>
        <tr>
            <td colspan="100" class="a-right">
                <?php if($this->getContinueShoppingUrl()): ?>
                    <button class="form-button-alt continue-shopping" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')" type="button"><span><?php echo $this->__('Continue Shopping') ?></span></button>
                <?php endif; ?>
                <button class="form-button-alt" type="submit"><span><?php echo $this->__('Update Shopping Cart') ?></span></button>
            </td>
        </tr>
    </tfoot>
    <tbody>
    <?php foreach($this->getItems() as $_item): ?>
        <?php echo $this->getItemHtml($_item) ?>
    <?php endforeach ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('shopping-cart-table')</script>
</form>

<div class="shopping-cart-collaterals">
    <div class="col2-set">
        <?php echo $this->getChildHtml('crosssell') ?>
        <div class="col-2">
<!--            --><?php //echo $this->getChildHtml('coupon') ?>
            <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
        </div>
    </div>
</div>


<div class="right">
    <div class="total-box">
    <?php echo $this->getChildHtml('totals'); ?>
    <br />
    <?php if(!$this->hasError()): ?>
        <?php echo $this->getChildHtml('methods') ?>
    <?php endif; ?>
</div>
</div>
<div class="clear"></div>
