

        <?php $_cartQty = $this->getSummaryCount() ?>
        <table class="attribute">
            <thead>
            <tr>
                <td><h4><?php echo $this->__('My Cart') ?></h4></td>
            </tr>
            </thead>




        <?php if ($_cartQty>0): ?>
            <?php if ($_cartQty==1): ?>
               <tr><td><?php echo $this->__('There is <a href="%s"><strong>1 item</strong></a> in your cart.', $this->getUrl('checkout/cart')) ?></td></tr>
            <?php else: ?>
            <tr><td><?php echo $this->__('There are <a href="%s"><strong>%s items</strong></a> in your cart.', $this->getUrl('checkout/cart'), $_cartQty) ?></td></tr>
            <?php endif ?>


                <?php echo $this->__('Cart Subtotal:') ?> <strong><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></strong>
                <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                    <br />(<strong><?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?></strong> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                <?php endif; ?>

        <?php endif ?>
        </table>


    <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>

        <button class="form-button" type="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')">
            <span><?php echo $this->__('Checkout') ?></span>
        </button>

    <?php endif ?>

    <?php $_items = $this->getRecentItems() ?>
    <?php if(count($_items)): ?>
    <h5><?php echo $this->__('Recently added item(s)') ?></h5>
    <ol id="cart-sidebar">
    <?php foreach($_items as $_item): ?>
        <?php echo $this->getItemHtml($_item) ?>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('cart-sidebar', 'non-recursive')</script>
    <?php else: ?>
    <div class="content"><p><?php echo $this->__('You have no items in your shopping cart.') ?></p></div>
    <?php endif ?>
        <hr/>
<!-- [ends] .cart-sidebar // -->