<div class="right">
    <div class="top_cart">
<?php
	$_cartQty = $this->getSummaryCount(); 
	if ($_cartQty == '')
		$_cartQty = 0;
?>
<span><a class="title" href="<?php echo $this->getUrl('checkout/cart'); ?>" rel="nofollow"><?php echo $this->__('SHOPPING CART') ?></a> &nbsp;<br/></span>
<?php if ($_cartQty==1 || $_cartQty==0): ?>
	<?php echo $this->__('<a href="%s" rel="nofollow">%s ITEM</a>', $this->getUrl('checkout/cart'), $_cartQty) ?>
<?php else: ?>
	<?php echo $this->__('<a href="%s" rel="nofollow">%s ITEMS</a>', $this->getUrl('checkout/cart'), $_cartQty) ?>
<?php endif ?>
&nbsp;<br/>
<a href="<?php echo $this->getUrl('checkout/cart'); ?>" rel="nofollow">TOTAL: <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></a>
</div>
</div>