<h1>Total</h1>
<table cellspacing="0" id="shopping-cart-totals-table">
    <tfoot>
        <?php echo $this->renderTotals('footer'); ?>
    </tfoot>
    <tbody>
        <?php echo $this->renderTotals(); ?>
    </tbody>
</table>
<br />